.header {
  background: #fff;
}
.header_container, .header__top_container {
  width: 100%;
  padding: 0rem 18rem;
}
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.4;
}
.header__menu-link {
  padding: 1rem;
  cursor: pointer;
}
.header__top {
  padding: 1rem 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__top_container {
  background-color: #f4f6f8;
}
.header__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4rem;
}
.header__info-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.4;
}
.header__info-contacts img {
  width: 2.4rem;
  height: 2.4rem;
}
.header__info svg {
  width: 2.4rem;
  height: 2.4rem;
}
.header__logo {
  width: 9.1rem;
  height: 8.6rem;
}
.header__main {
  padding: 2rem 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__search {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 91.5rem;
  height: 6rem;
  border-radius: 1.5rem;
  border: 1px solid #e50e78;
}
.header__search input {
  padding: 0.5rem 2.5rem;
  height: 100%;
  width: 94%;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}
.header__search input::-webkit-input-placeholder {
  color: #9293b0;
}
.header__search input::-moz-placeholder {
  color: #9293b0;
}
.header__search input:-ms-input-placeholder {
  color: #9293b0;
}
.header__search input::-ms-input-placeholder {
  color: #9293b0;
}
.header__search input::placeholder {
  color: #9293b0;
}
.header__search-icon {
  top: 0.5rem;
  right: 0.5rem;
  width: 5rem;
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 1rem;
  background: #e50e78;
}
.header__search-icon img {
  width: 2.4rem;
  height: 2.4rem;
}
.header__catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  gap: 1.3rem;
  padding: 0.6rem 0.5rem 0.6rem 0.5rem;
  width: 15.9rem;
  height: 6rem;
  border-radius: 1.5rem;
  background: #e50e78;
  color: #fff;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}
.header__catalog-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 5rem;
  height: 100%;
  background-color: #fff;
  border-radius: 1rem;
}
.header__catalog-img img {
  width: 2.4rem;
  height: 2.4rem;
}
.header__personal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3rem;
}
.header__personal-link {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.3;
}
.header__personal-link img {
  width: 2.4rem;
  height: 2.4rem;
}
.header__personal-toast {
  position: absolute;
  width: 2.2rem;
  height: 2.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  background-color: #e50e78;
  color: #fff;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.4;
}
.header__personal-toast--favourites {
  top: -1.4rem;
  right: 2.4rem;
}
.header__personal-toast--cart {
  top: -1.4rem;
  right: 1rem;
}
.header__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__phone {
  padding: 1.3rem 2.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 1.5rem;
  gap: 1rem;
  background: #e50e78;
  color: #fff;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.3;
}
.header__phone-icon {
  width: 2.4rem;
  height: 2.4rem;
}