.title {
  color: #3b3c40;
  font-family: "Euclid Circular A";
  font-size: 5rem;
  font-weight: 500;
  line-height: normal;
}

@-webkit-keyframes appearence_1 {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50rem);
            transform: translateY(50rem);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes appearence_1 {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50rem);
            transform: translateY(50rem);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes appearence_2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes appearence_2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes appearence_3 {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50rem);
            transform: translateY(-50rem);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes appearence_3 {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50rem);
            transform: translateY(-50rem);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes disappearence_1 {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(50rem);
            transform: translateY(50rem);
  }
}
@keyframes disappearence_1 {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(50rem);
            transform: translateY(50rem);
  }
}
@-webkit-keyframes disappearence_2 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes disappearence_2 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes disappearence_3 {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-50rem);
            transform: translateY(-50rem);
  }
}
@keyframes disappearence_3 {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-50rem);
            transform: translateY(-50rem);
  }
}
#map {
  width: 90.2rem;
  height: 62.9rem;
  border-radius: 4rem;
  overflow: hidden;
}

.ymaps-2-1-79-copyrights-pane {
  display: none;
}

.ymaps-2-1-79-controls-pane {
  display: none;
}

.ymaps-2-1-79-map-copyrights-promo {
  display: none;
}

.ymaps-2-1-79-ground-pane {
  /* filter: hue-rotate(257deg) grayscale(1) invert(100%); */
  -webkit-filter: grayscale(0.5);
          filter: grayscale(0.5);
}

.btn-cart {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background-color: #e50e78;
}
.btn-cart img {
  width: 2.8rem;
  height: 2.8rem;
}

.btn-categories-link {
  padding: 0.5rem 0.5rem 0.5rem 3rem;
  border-radius: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.5rem;
  height: 6rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  background: linear-gradient(139deg, #dd3197 0%, #822faf 100%);
  color: #fff;
  font-size: 1.8rem;
}

.btn-categories-link--icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 5rem;
  height: 5rem;
  border-radius: 1rem;
  background: #fff;
}
.btn-categories-link--icon svg {
  width: 2.4rem;
  height: 2.4rem;
}

.scrollable-list {
  width: 100%;
  overflow: hidden;
}

.popular__categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin: 0;
  padding: 0;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

.swiper-slide {
  cursor: pointer;
}

.swiper-button-disabled {
  opacity: 0;
}

.repair__nav-prev.swiper-button-disabled,
.repair__nav-next.swiper-button-disabled {
  opacity: 1;
}

.categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.4;
}
.categories-icon {
  width: 2.4rem;
  height: 2.4rem;
}
.categories-text {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.categories-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.5rem;
  padding: 1.3rem 2.4rem;
  border-radius: 1.5rem;
  background: #f4f6f8;
  cursor: pointer;
}
.categories-link-active {
  color: #fff;
  background-color: #e50e78;
}
.categories-link--icon {
  width: 2.4rem;
  height: 2.4rem;
}
.categories-link--icon img {
  width: 100%;
  height: 100%;
}
.categories-link--text {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.1;
}

.card {
  position: relative;
  width: 37.5rem;
  height: 42.2rem;
  padding: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}
.card-discont, .card-title, .card-info, .card-price {
  z-index: 1;
}
.card-title {
  margin-top: 2rem;
  overflow: hidden;
  color: #3b3c40;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
}
.card-price {
  width: 100%;
  margin-top: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  gap: 1rem;
}
.card-price--current {
  color: #3b3c40;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: normal;
}
.card-price--old {
  color: #9293b0;
  /* text 18 medium */
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.3;
  text-decoration: line-through;
}
.card-discont {
  position: absolute;
  top: 4rem;
  left: 4rem;
  padding: 0.6rem 1.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 1.5rem;
  background: #e50e78;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.4;
}
.card-info {
  margin-top: 1rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  overflow: hidden;
  color: var(--dark-grey, #9293b0);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.4;
}
.card-btn {
  position: absolute;
  z-index: 2;
  bottom: 0;
  right: 0;
}
.card-img {
  position: relative;
  width: 32.5rem;
  height: 21.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 3rem;
  border: 2px solid #f4f6f8;
  background: #fff;
  z-index: 1;
}
.card-img img {
  width: 10.5rem;
  height: 12.4rem;
}

.cards__slider {
  overflow: hidden;
  -webkit-filter: drop-shadow(5px 15px 70px rgba(173, 178, 201, 0.35));
          filter: drop-shadow(5px 15px 70px rgba(173, 178, 201, 0.35));
}

.advertisement__card {
  position: relative;
  padding: 6.3rem 13rem;
  height: 47.6rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.advertisement__content {
  position: relative;
  width: 63.1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 3rem;
}
.advertisement__content-title {
  color: #3b3c40;
  font-size: 7rem;
  font-weight: 500;
  line-height: 1.06;
}
.advertisement__content-text {
  color: #9293b0;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
}
.advertisement__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 58.5rem;
  height: 35.3rem;
  overflow: hidden;
}
.advertisement__img img {
  width: 100%;
  height: 100%;
}

.nav-prev,
.nav-next {
  position: absolute;
  width: 4rem;
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  background-color: #fff;
  z-index: 2;
  -webkit-filter: drop-shadow(3px 6px 14px rgba(115, 103, 151, 0.15));
          filter: drop-shadow(3px 6px 14px rgba(115, 103, 151, 0.15));
  cursor: pointer;
}

.nav-prev {
  top: 40%;
  left: 0;
}

.nav-next {
  top: 40%;
  right: 0;
}

.section__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 6rem;
}

@media (max-width: 48em) {
  .no-scroll {
    overflow: hidden;
  }
  .title {
    color: #3b3c40;
    /* Mob/h1 32 medium */
    font-size: 6.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
  }
  .btn {
    font-size: 2.8rem;
    height: 12rem;
  }
}