.business {
	margin: 6.5rem auto 0;
	width: 100%;
	max-width: 156.1rem;

	.bc {
		.container {
			padding-left: 0;
		}
		margin-bottom: 6rem;
		span {
			color: #9293b0;
		}
	}
	// .business__banner
	&__banner {
		margin-bottom: 6.5rem;
		z-index: 1;
		padding: 12.3rem 5rem 9.6rem 5rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		border-radius: 5rem;
		background: #f3efff;
		position: relative;
		margin-top: 5rem;
		width: 100%;
		max-width: 156.1rem;
		border-radius: 5rem;

		.btn {
			margin: 6.5rem auto 0;
		}
	}

	.btn {
		padding-left: 4rem;
		gap: 4rem;
	}

	&__img {
		position: absolute;
		top: 0;
		> img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		&_type {
			&_left {
				border-radius: 5rem 0 20rem 5rem;
				left: 0;
				width: 38.6rem;
				height: 100%;
				> img {
					border-radius: 5rem 0 20rem 5rem;
				}
			}
			&_right {
				border: 20rem 0 20rem 20rem;
				right: 0;
				width: 41.1rem;
				height: 100%;
				> img {
					border-radius: 20rem 0 20rem 20rem;
				}
			}
		}
	}

	//   .business__banner-title
	&__banner-title {
		color: #3b3c40;
		font-family: Euclid Circular A;
		font-size: 7rem;
		font-style: normal;
		font-weight: 500;
		line-height: 106%;
	}

	// .business__banner-subtitle
	&__banner-subtitle {
		max-width: 67.3rem;
		margin-top: 3rem;
		color: #9293b0;
		text-align: center;
		font-family: Euclid Circular A;
		font-size: 2rem;
		font-style: normal;
		font-weight: 500;
		line-height: 120%;
	}

	// .business__back
	&__back {
		z-index: -1;
		position: absolute;
		width: 73.5rem;
		height: 30.6rem;
		top: 9.5rem;
		left: 41.8rem;
	}

	&__content {
		margin-top: 6.5rem;
		margin-bottom: 15rem;
		width: 100%;
		display: flex;
		flex-direction: row;
		gap: 2rem;
		box-sizing: border-box;
	}

	.text-container {
		width: 100%;
		max-width: 103.3rem;
		padding: 4rem;
		box-sizing: border-box;
		border-radius: 3rem;
		background: #f4f6f8;

		// .text-container__blocks
		&__blocks {
			display: flex;
			flex-direction: column;
			gap: 6rem;
		}
	}

	.block {
		display: flex;
		flex-direction: column;

		&__title {
			width: 69rem;
			color: var(--black, #3b3c40);
			font-family: Euclid Circular A;
			font-size: 2.4rem;
			font-style: normal;
			font-weight: 600;
			line-height: normal;
			padding-bottom: 3.2rem;
			border-bottom: 0.1rem solid #c9c9d7;
		}

		&__list {
			margin-top: 1.9rem;
			padding-left: 2.5rem;
		}

		&__list-item {
			list-style: disc;
			color: #3b3c40;
			font-family: Euclid Circular A;
			font-size: 1.6rem;
			font-style: normal;
			font-weight: 500;
			line-height: 140%;
		}
	}

	&__consultation {
		width: 50.7rem;
		height: fit-content;
		padding: 6rem 4rem;
		border-radius: 3rem;
		background: #f3efff;
		flex: none;
		overflow: hidden;
		position: relative;

		.form-consultation {
			position: relative;
			z-index: 1;
		}

		&::after {
			content: "";
			display: block;
			width: 44.6rem;
			height: 44.6rem;
			background: linear-gradient(30deg, rgba(255, 255, 255, 0.14) 38.93%, rgba(253, 252, 255, 0.5) 91.92%);
			border-radius: 50%;
			left: -9rem;
			bottom: -19rem;
			position: absolute;
			z-index: 0;
		}

		&::before {
			content: "";
			display: block;
			width: 44.6rem;
			height: 44.6rem;
			background: linear-gradient(30deg, rgba(255, 255, 255, 0.27) 38.93%, #fdfcff 91.92%);
			border-radius: 50%;
			top: -10rem;
			right: -12rem;
			position: absolute;
			z-index: 0;
		}

		&--title {
			color: #3b3c40;
			font-size: 2.4rem;
			font-style: normal;
			font-weight: 600;
			line-height: normal;
			margin-bottom: 1.4rem;
			position: relative;
			z-index: 1;
		}

		&--text {
			color: #9293b0;
			font-size: 1.6rem;
			font-style: normal;
			font-weight: 500;
			line-height: 140%;
			width: 29.5rem;
			margin-bottom: 4rem;
			position: relative;
			z-index: 1;
		}

		&--info {
			color: #9293b0;
			font-size: 1.4rem;
			font-style: normal;
			font-weight: 500;
			line-height: 140%;
			position: relative;
			z-index: 1;

			a {
				text-decoration-line: underline;
				cursor: pointer;
			}
		}
	}
}

@media (max-width: 48em) {
	.business {
		margin: 6 auto 0;
		max-width: 71rem;

		// .business__banner
		&__banner {
			margin-bottom: 6rem;
			padding: 4rem 4rem 6.6rem 4rem;
			border-radius: 4rem;
			margin-top: 6rem;
			max-width: 71rem;
			border-radius: 4rem;
		}

		&__img {
			position: absolute;
			> img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
			&_type {
				&_left {
					display: none;
				}
				&_right {
					top: 25rem;
					right: 4rem;
					width: 17.4rem;
					height: 17.8rem;
					> img {
						border-radius: 20rem 0 20rem 20rem;
					}
				}
			}
		}

		//   .business__banner-title
		&__banner-title {
			width: 100%;
			text-align: left;
			font-size: 6.4rem;
			line-height: 110%;
		}

		// .business__banner-subtitle
		&__banner-subtitle {
			max-width: 100%;
			text-align: left;
			margin-top: 3.2rem;
			font-size: 3rem;
			line-height: 140%;
		}

		// .business__back
		&__back {
			width: 76.8506rem;
			height: 31.9846rem;
			top: 7.5rem;
			left: 0;
		}

		.btn {
			margin: 5rem auto 0 0;
		}

		// .business__content
		&__content {
			margin-top: 6rem;
			margin-bottom: 16rem;
			width: 100%;
			display: flex;
			flex-direction: column;
			gap: 16rem;
		}

		.text-container {
			width: 100%;
			max-width: 71rem;
			padding: 4rem 2rem;
			box-sizing: border-box;
			border-radius: 4rem;
		}

		.block {
			&__title {
				width: 100%;
				font-size: 3.6rem;
				padding-bottom: 2rem;
			}

			&__list {
				margin-top: 2rem;
				padding-left: 4.5rem;
			}

			&__list-item {
				font-size: 3rem;
			}
		}

		&__consultation {
			padding-top: 16rem;
			width: 100%;
			padding: 10rem 2rem;
			border-radius: 4rem;

			&::after {
				content: unset;
			}
			&::before {
				content: unset;
			}

			&--title {
				font-size: 6.4rem;
				line-height: 110%;
				margin-bottom: 4rem;
			}
			&--text {
				font-size: 3rem;
				width: auto;
				margin-bottom: 6rem;
			}
			&--info {
				font-size: 2.4rem;
			}
		}
	}
}
