.footer {
	padding-bottom: 5rem;
	&_container {
		padding: 6rem 6rem 2rem 6rem;
		border-radius: 5rem;
		background: #f4f6f8;
	}
	&__content {
		display: flex;
		padding-bottom: 5rem;
		gap: 13.6rem;
	}
	&__main {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		&--mob {
			display: none;
		}
		&-logo {
			position: relative;
			width: 13.1rem;
			height: 12.4rem;
			svg {
				width: 100%;
				height: 100%;
			}
		}
		&-btn {
			height: 5rem;
			padding: 1.4rem 2.6rem;
			border-radius: 1.5rem;
			border: 0.1rem solid #9293b0;
			box-shadow: 1rem 1.5rem 5rem 0rem rgba(173, 178, 201, 0.2);
			color: #3b3c40;
			font-size: 1.6rem;
			font-weight: 500;
			text-align: center;
			line-height: 1.4; /* 22.4px */
		}
		&-payment {
			display: flex;
			gap: 1rem;
			&--system {
				&.maestrocard svg {
					width: 3.2rem;
					height: 2rem;
				}
				&.visa svg {
					width: 5rem;
					height: 1.6rem;
				}
				&.mir svg {
					width: 5.8rem;
					height: 1.7rem;
				}
			}
		}
		&-wrapper {
			display: flex;
			gap: 13rem;
			&--mob {
				display: none;
			}
		}

		&-bottom {
			margin-right: 2rem;
			display: flex;
			align-items: center;
			justify-content: space-between;
			flex-wrap: wrap;
			row-gap: 3rem;
			&--mob {
				display: none;
			}
		}
		&-stars {
			display: flex;
			align-items: center;
			gap: 1.6rem;
			width: 100%;
			color: #3b3c40;
			font-size: 2rem;
			font-weight: 500;
			line-height: 1.2; /* 24px */
			&--icon {
				width: 2.4rem;
				height: 2.4rem;
				svg {
					width: 100%;
					height: 100%;
				}
			}
		}
	}
	&__info {
		display: flex;
		flex-direction: column;
		gap: 3rem;
		&-list {
			display: flex;
			flex-direction: column;
			gap: 1.5rem;
		}
		&-item {
			color: #9293b0;
			font-size: 1.6rem;
			font-weight: 500;
			line-height: 1.4; /* 22.4px */
		}
		&-name {
			color: var(--black, #3b3c40);
			font-size: 2rem;
			font-weight: 500;
			line-height: 1.2; /* 24px */
		}
	}
	&__links {
		height: 38.8rem;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		&_catalog {
			height: 38.7rem;
			max-width: 30.9rem;
			&-list {
				max-width: 30.9rem;
				display: flex;
				flex-direction: column;
				flex-wrap: wrap;
				gap: 1.2rem;
				&_1 {
					width: 27.1rem;
				}
				&_2 {
					margin-top: 4rem;
				}
			}
		}
		&_list {
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			gap: 1.2rem;
			column-gap: 3rem;

			height: 38.7rem;

			&-about {
				margin-right: 12.2rem;
			}
			&-link {
				color: #9293b0;
				font-size: 1.6rem;
				font-weight: 500;
				line-height: 1.4; /* 22.4px */
				cursor: pointer;
				&--contacts {
					display: none;
				}
				&--faq {
					display: none;
				}
				&--help {
					display: block;
				}
			}
		}
		&-title {
			margin-bottom: 0.3rem;
			color: #3b3c40;
			font-size: 2rem;
			font-weight: 500;
			line-height: 1.2; /* 24px */
		}
	}
	&__social {
		display: flex;
		gap: 1.5rem;
		align-items: center;
		&-link {
			width: 3rem;
			height: 3rem;
			svg {
				width: 100%;
				height: 100%;
			}
		}
	}
	&__copyright {
		padding-top: 2.5rem;
		display: flex;
		justify-content: space-between;
		border-top: 0.1rem solid #d9d9d9;
		&-info {
			color: #9293b0;
			font-size: 1.6rem;
			font-weight: 500;
			line-height: 1.4; /* 22.4px */
		}
		&-company {
			position: relative;
			width: 14.4rem;
			height: 3.2rem;
			svg {
				width: 100%;
				height: 100%;
			}
		}
	}
}

.write-director-modal {
	&-container {
		width: 95.6rem;
		height: 78.6rem;
		display: flex;
		align-items: center;
		justify-content: center;
		background: #f3efff;
		border-radius: 3rem;
		flex-direction: column;
		overflow: hidden;

		&--second {
			display: none;
			.modal-container--title {
				width: 52.3rem;
				margin-bottom: 3.2rem;
			}
			.modal-container--subtitle {
				margin-bottom: 4rem;
			}
			.btn {
				margin: 0 auto;
			}
		}

		.modal-container--title {
			margin-bottom: 2rem;
			text-align: center;
		}
		.modal-container--subtitle {
			margin-bottom: 3rem;
		}

		&--back {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 116.6412rem;
			height: 48.5585rem;
			z-index: -1;

			svg {
				width: 116.6412rem;
				height: 48.5585rem;
			}
		}
	}
}
.write-director-form {
	width: 57.2rem;
	display: flex;
	flex-direction: column;
	gap: 2rem;

	&-bottom {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 2rem;

		&--text {
			width: 25.4rem;
			font-size: 1.4rem;
			font-style: normal;
			font-weight: 500;
			line-height: 140%;
			color: #9293b0;

			a {
				text-decoration-line: underline;
			}
		}
	}
}

@media (max-width: 48em) {
	.footer {
		padding-bottom: 0;
		&_container {
			padding: 4rem 2rem 6rem 2rem;
		}
		&__links {
			&_list {
				height: auto;
				gap: 0;
				&-about {
					margin-right: 0;
				}
				&-catalog {
					display: none;
				}
				&-link {
					padding: 1.2rem 0rem;
					font-size: 3rem;
					&--contacts {
						display: block;
					}
					&--faq {
						display: block;
					}
					&--help {
						display: none;
					}
				}
			}
		}
		&__content {
			flex-direction: column;
			gap: 6.4rem;
		}
		&__links {
			height: auto;
			gap: 2.4rem;
			flex-wrap: nowrap;
			justify-content: space-between;
			&-title {
				margin-bottom: 1.8rem;
				font-size: 3.4rem;
			}
		}
		&__info {
			gap: 4.8rem;
			&-list {
				gap: 2.4rem;
			}
			&-name {
				font-size: 3.4rem;
			}
			&-item {
				font-size: 3rem;
			}
		}
		&__main {
			&-bottom {
				display: none;
				&--mob {
					display: flex;
					flex-direction: column;
					// gap: 4.8rem;
					justify-content: space-between;
				}
			}
			&-stars {
				margin-top: 2.2rem;
				display: flex;
				align-items: center;
				gap: 3.2rem;
				width: 100%;
				color: #3b3c40;
				font-size: 4rem;
				font-weight: 500;
				line-height: 1.2; /* 24px */
				&--icon {
					width: 4.8rem;
					height: 4.8rem;
				}
			}

			&-wrapper {
				display: none;
				&--mob {
					display: block;
					width: 12.4rem;
					height: 11.6rem;
				}
			}
			&-payment {
				gap: 2.4rem;
				&--system {
					&.maestrocard svg {
						width: 5rem;
						height: 3.2rem;
					}
					&.visa svg {
						width: 9rem;
						height: 2.8rem;
					}
					&.mir svg {
						width: 9rem;
						height: 2.4rem;
					}
				}
			}
			&-btn {
				height: 8.4rem;
				padding: 2.2rem 3rem;
				font-size: 2.8rem;
				text-align: center;
			}
		}
		&__social {
			&-link {
				width: 6rem;
				height: 6rem;
			}
		}
		&__copyright {
			flex-direction: column;
			align-items: center;
			&-info {
				padding: 5.6rem 0rem;
				font-size: 2.4rem;
				text-align: center;
			}
			&-company {
				width: 23rem;
				height: 5.8rem;
			}
		}
	}

	.write-director-modal {
		&-container {
			width: 71rem;
			height: auto;
			padding: 12.8rem 2rem;
			border-radius: 2rem;

			&--second {
				display: none;
				.modal-container--title {
					width: auto;
					margin-bottom: 3.2rem;
				}
				.modal-container--subtitle {
					margin-bottom: 6rem;
					width: 39rem;
				}
				.btn {
					margin: 0 auto;
				}
			}

			.modal-container--title {
				margin-bottom: 4.8rem;
				text-align: center;
			}
			.modal-container--subtitle {
				width: 35rem;
				margin: 0 auto 6rem;
			}

			&--back {
				top: 35%;
				width: 148rem;
				height: 61.4rem;

				svg {
					width: 148rem;
					height: 61.4rem;
				}
			}
		}
	}
	.write-director-form {
		width: 67rem;
		display: flex;
		flex-direction: column;
		gap: 2rem;

		&-bottom {
			display: flex;
			flex-direction: column-reverse;
			align-items: baseline;
			margin-top: 4rem;
			width: 47rem;
			gap: 4rem;

			.btn {
				width: fit-content;
			}

			&--text {
				width: auto;
				font-size: 2.4rem;
			}
		}
	}
}
