.lk {
  position: relative;

  .lk-bottom {
    margin-top: 4rem;
    display: flex;
    flex-direction: row;
    gap: 8rem;
  }

  // .desktop-menu
  .desktop-menu {
    display: flex;
    width: 100%;
    max-width: 31.5rem;

    // .desktop-menu__navigation
    &__navigation {
      width: 100%;
    }

    // .desktop-menu__navigation-list
    &__navigation-list {
      display: flex;
      flex-direction: column;
    }

    // .desktop-menu__navigation-item
    &__navigation-item {
      display: flex;
      text-wrap: nowrap;
      flex-direction: row;
      border-radius: 2rem;
      justify-content: flex-start;
      align-items: center;
      gap: 1rem;
      padding: 1.6rem 4rem 1.6rem 4rem;

      &_active {
        background: #f3efff;
      }

      &_leave {
        margin-top: 2rem;

        .lk__navigation-text {
          color: #9293b0;
        }
      }
    }

    // .desktop-menu__navigation-text
    &__navigation-text {
      color: #3b3c40;
      text-align: center;
      font-family: Euclid Circular A;
      font-size: 1.8rem;
      font-style: normal;
      font-weight: 500;
      line-height: 130%;
    }
  }

  // .mobile-menu
  .mobile-menu {
    display: none;
  }

  .lk-inner {
    width: 100%;
    max-width: 116.5rem;
    border-radius: 3rem;
    padding: 4rem;
    background: var(--white, #fff);
    box-shadow: 0.5rem 1.5rem 7rem 0rem rgba(173, 178, 201, 0.35);
  }

  .lk-form {
    margin-top: 3rem;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem 5rem;
    grid-template-areas:
      "name current-password"
      "telephone new-password"
      "email repeat-password"
      "address ."
      "submit .";
  }

  .form__item {
    .form__item-inner {
      height: 6rem;
    }

    &_type {

      // .form__item_type_name
      &_name {
        grid-area: name;
      }

      // .form__item_type_telephone
      &_telephone {
        grid-area: telephone;
      }

      // .form__item_type_email
      &_email {
        grid-area: email;
      }

      // .form__item_type_address
      &_address {
        gap: 2rem;
        grid-area: address;

        // .form__item_type_address .btn
        .btn {
          display: flex;
          width: 100%;
          max-width: 32.5rem;
          align-items: center;
          justify-content: center;
          height: 6rem;
          padding: 1.9rem 3rem;
          box-sizing: border-box;
          border-radius: 1.5rem;
          border: 1px solid var(--button-gradient, #dd3197);
          background: var(--white, #fff);
          box-shadow: 1rem 1.5rem 5rem 0rem rgba(173, 178, 201, 0.2);

          &__text {
            font-family: Euclid Circular A;
            font-size: 1.8rem;
            font-style: normal;
            font-weight: 500;
            line-height: 130%;
            background: var(--button-gradient,
                linear-gradient(96deg, #dd3197 0%, #822faf 101.4%));
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }
      }

      // .form__item_type_current-password
      &_current-password {
        grid-area: current-password;
      }

      // .form__item_type_new-password
      &_new-password {
        grid-area: new-password;
      }

      // .form__item_type_repeat-password
      &_repeat-password {
        grid-area: repeat-password;
      }
    }
  }

  .btn-submit {
    margin-top: 2rem;
    grid-area: submit;
    display: flex;
    box-sizing: border-box;
    width: 100%;
    max-width: 30.5rem;
    padding: 1.9rem 3rem;
    height: 6rem;
    justify-content: center;
    align-items: center;
    border-radius: 1.5rem;
    background: var(--button-gradient,
        linear-gradient(96deg, #dd3197 0%, #822faf 101.4%));
    box-shadow: 1rem 1.5rem 5rem 0rem rgba(173, 178, 201, 0.2);

    &__text {
      color: var(--white, #fff);
      font-family: Euclid Circular A;
      font-size: 1.8rem;
      font-style: normal;
      font-weight: 500;
      line-height: 130%;
    }

    &:hover {
      background: linear-gradient(96deg, #fa67bf 0%, #be63ef 101.4%);
    }

    &_disable {
      background: var(--Line, #dfdff0);
    }
  }

  @media (max-width: 48em) {
    margin-bottom: 16rem;

    .lk-bottom {
      margin-top: 0;
      display: flex;
      flex-direction: column;
      gap: 6rem;
    }

    .title-h3 {
      display: none;
    }

    // .desktop-menu
    .desktop-menu {
      display: none;
    }

    // .mobile-menu
    .mobile-menu {
      position: relative;
      display: flex;
      width: 100%;
      max-width: 100%;

      // .mobile-menu__close-btn
      &__close-btn {
        display: none;
        position: absolute;
        top: 2rem;
        right: 2rem;
      }

      // .mobile-menu__btn
      &__btn {
        cursor: pointer;
        width: 100%;
        max-width: 100%;
        height: 8.4rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 1.8rem;
        gap: 2rem;
        background-color: #fff;
        border-radius: 2rem;
        box-shadow: 1rem 3rem 14rem 0rem rgba(173, 178, 201, 0.35);

        >span {
          color: var(--black, #3b3c40);
          font-family: Euclid Circular A;
          font-size: 3.4rem;
          font-style: normal;
          font-weight: 500;
          line-height: 140%;
        }

        &:last-child {
          transform: rotate(90deg);
        }
      }

      // .mobile-menu__navigation
      &__navigation {
        display: none;
        top: 0;
        left: 0;
        width: 100%;

        &.active {
          padding: 5rem;
          position: absolute;
          display: flex;
          border-radius: 2rem;
          background: #fff;
          box-shadow: 1rem 3rem 14rem 0rem rgba(173, 178, 201, 0.35);
        }
      }

      // .mobile-menu__navigation-list
      &__navigation-list {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 6rem;
      }

      // .mobile-menu__navigation-item
      &__navigation-item {
        cursor: pointer;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 2rem;
      }

      // .mobile-menu__navigation-text
      &__navigation-text {
        font-size: 3.4rem;
        line-height: 140%;
      }
    }

    .lk-inner {
      width: 100%;
      max-width: 100%;
      border-radius: 4rem;
      padding: 4rem 3rem;
      box-shadow: 1rem 3rem 14rem 0rem rgba(173, 178, 201, 0.35);
    }

    .lk-form {
      margin-top: 3rem;
      display: flex;
      flex-direction: column;
      gap: 4rem;
    }

    .form__item {
      .form__item-inner {
        height: 8.4rem;
      }

      &_type {

        // .form__item_type_address
        &_address {
          gap: 2rem;

          // .form__item_type_address .btn
          .btn {
            width: 100%;
            max-width: 100%;
            height: 8.4rem;
            padding: 2rem;
            border-radius: 2rem;

            &__text {
              font-size: 3rem;
              line-height: 140%;
            }
          }
        }
      }
    }

    .btn-submit {
      margin-top: 2rem;
      max-width: 100%;
      padding: 2rem 6rem;
      height: 8.4rem;
      border-radius: 2rem;

      &__text {
        font-size: 3rem;
        line-height: 140%;
      }

      &:hover {
        background: linear-gradient(96deg, #fa67bf 0%, #be63ef 101.4%);
      }

      &_disable {
        background: var(--Line, #dfdff0);
      }
    }
  }
}

.lk-my-orders {
  width: 100%;

  .order-card-list {
    width: 100%;
    max-width: 116.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .order-card {
    width: 100%;
    padding: 4rem;
    box-sizing: border-box;
    border-radius: 3rem;
    background: #fff;
    box-shadow: 0.5rem 1.5rem 5rem 0rem rgba(173, 178, 201, 0.35);

    .top-section {
      padding-bottom: 2.5rem;
      border-bottom: 1px solid #dfdff0;

      // .top-section__top-block
      &__top-block {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }

      // .top-section__bottom-block
      &__bottom-block {
        margin-top: 1.5rem;
        display: grid;
        gap: 1.5rem 2rem;
        grid-template-columns: max-content max-content;
        grid-template-areas:
          "lifetime lifetime"
          "status manager";
        align-items: center;
      }
    }

    // .order-card__name
    &__name {
      user-select: none;
      cursor: pointer;
      color: #3b3c40;
      font-family: Euclid Circular A;
      font-size: 2.4rem;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      transition: color 0.3s ease-in-out;

      &:hover {
        color: #e50e78;
      }
    }

    // .order-card__price
    &__price {
      color: #3b3c40;
      text-align: right;
      font-family: Euclid Circular A;
      font-size: 2.4rem;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }

    // .order-card__lifetime
    &__lifetime {
      grid-area: lifetime;
      color: #9293b0;
      font-family: Euclid Circular A;
      font-size: 1.6rem;
      font-style: normal;
      font-weight: 500;
      line-height: 140%;
    }

    // .order-card__status
    &__status {
      grid-area: status;
      display: flex;
      padding: 0.9rem 2.4rem;
      justify-content: center;
      align-items: center;
      border-radius: 1.5rem;
      font-family: Euclid Circular A;
      font-size: 1.6rem;
      font-style: normal;
      font-weight: 500;
      line-height: 140%;

      &_active {
        color: #ff9935;
        border: 1px solid #ff9935;
      }

      &_closed {
        color: #9293b0;
        border: 1px solid #9293b0;
      }

      &_cancelled {
        color: #ff4345;
        border: 1px solid #ff4345;
      }
    }

    // .order-card__manager
    &__manager {
      grid-area: manager;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 1rem;
    }

    // .order-card__manager-name
    &__manager-name {
      color: #3b3c40;
      font-family: Euclid Circular A;
      font-size: 1.6rem;
      font-style: normal;
      font-weight: 500;
      line-height: 140%;
    }

    // .order-card__bottom-section
    .bottom-section {
      margin-top: 2.5rem;
      display: flex;
      flex-direction: column;

      &__bottom-block {
        margin-top: 1rem;
        display: flex;
        gap: 2rem;
        justify-content: space-between;
      }
    }

    // .order-card__tags
    &__tags {
      display: flex;
      flex-direction: row;
      gap: 2rem;
    }

    // .order-card__tag
    &__tag {
      color: #9293b0;
      font-family: Euclid Circular A;
      font-size: 1.6rem;
      font-style: normal;
      font-weight: 500;
      line-height: 140%;
    }

    // .order-card__location-block
    &__location-block {
      display: flex;
      flex-direction: row;
      gap: 0.5rem;
    }

    // .order-card__location
    &__location {
      width: 100%;
      max-width: 51.4rem;
      color: #3b3c40;
      font-family: Euclid Circular A;
      font-size: 1.6rem;
      font-style: normal;
      font-weight: 500;
      line-height: 140%;
    }

    // .order-card__button
    &__button {
      color: #e50e78;
      text-align: right;
      font-family: Euclid Circular A;
      font-size: 1.6rem;
      font-style: normal;
      font-weight: 500;
      line-height: 140%;
    }
  }

  @media (max-width: 48em) {
    .order-card-list {
      max-width: 100%;
    }

    .order-card {
      padding: 4rem;
      border-radius: 4rem;
      box-shadow: 1rem 3rem 14rem 0rem rgba(173, 178, 201, 0.35);

      .top-section {
        padding-bottom: 3rem;

        // .top-section__bottom-block
        &__bottom-block {
          margin-top: 3rem;
          display: grid;
          gap: 2rem;
          grid-template-columns: max-content;
          grid-template-areas:
            "status"
            "lifetime"
            "manager";
          justify-items: flex-start;
        }
      }

      // .order-card__name
      &__name {
        font-size: 3.6rem;
      }

      // .order-card__price
      &__price {
        font-size: 3.6rem;
      }

      // .order-card__lifetime
      &__lifetime {
        font-size: 2.8rem;
        line-height: 130%;
      }

      // .order-card__status
      &__status {
        padding: 1.8rem 4.8rem;
        border-radius: 3rem;
        font-size: 2.8rem;
        line-height: 130%;
      }

      // .order-card__manager
      &__manager {
        gap: 2rem;
      }

      // .order-card__manager-name
      &__manager-name {
        font-size: 2.8rem;
        line-height: 130%;
      }

      // .order-card__bottom-section
      .bottom-section {
        margin-top: 3rem;

        &__bottom-block {
          margin-top: 3rem;
          display: flex;
          flex-direction: column;
          gap: 4rem;
          align-items: flex-start;
        }
      }

      // .order-card__tags
      &__tags {
        gap: 4rem;
      }

      // .order-card__tag
      &__tag {
        font-size: 2.8rem;
        line-height: 130%;
      }

      // .order-card__location-block
      &__location-block {
        gap: 1rem;
      }

      // .order-card__location
      &__location {
        width: 100%;
        max-width: 100%;
        font-size: 2.8rem;
        line-height: 130%;
      }

      // .order-card__button
      &__button {
        color: #e50e78;
        font-size: 2.8rem;
        line-height: 130%;
      }
    }
  }
}

.lk-info {
  width: 100%;
  max-width: 90.2rem;

  p,
  ul {
    margin-top: 3rem;
    color: #3B3C40;
    font-family: Euclid Circular A;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
  }

  li,
  ol {
    color: #3B3C40;
    font-family: Euclid Circular A;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
  }

  .container {
    padding: 0 0;
  }

  .lk-info-container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .lk-info__btns {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding-bottom: 4rem;
    border-bottom: 1px solid #DFDFF0;
  }

  .lk-info__btn {
    display: flex;
    padding: 1.4rem 2.4rem;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    height: 5rem;
    border-radius: 1.5rem;
    color: #3B3C40;
    font-family: Euclid Circular A;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    background: #F4F6F8;

    &.active {
      color: #FFF;
      background: #E50E78;
    }
  }

  &__delivery {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .note {
    color: #9293B0;
  }

  &__table-container {
    border-radius: 3rem;
  }

  &__tables {
    display: flex;
    flex-direction: row;
    gap: 4rem;
  }

  &__tables {
    margin-top: 5rem;
  }

  .table {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    box-sizing: border-box;

    &_type {
      &_tariff {
        width: 38.7rem;
      }

      &_delivery {
        width: 47.4rem;
      }
    }

    &__container {
      display: flex;
      box-sizing: border-box;
      border: 1px solid #DFDFF0;
      border-radius: 3rem;
      z-index: 10;
      background-color: white;
      overflow: hidden;
    }

    &__title {
      text-align: left;
      color: #3B3C40;
      font-family: Euclid Circular A;
      font-size: 2rem;
      font-style: normal;
      font-weight: 500;
      line-height: 120%;
    }

    &__inner {
      width: 100%;
      max-width: 47rem;
      border-collapse: collapse;
      border-spacing: 0;

      >thead {
        padding-top: 2rem;
        background: #F4F6F8;

        >tr {
          padding: 2rem 2rem;
          height: 5.2rem;

          >th {
            padding: 2rem 2rem;
            border-bottom: 1px solid #DFDFF0;
            text-align: left;
            color: #3B3C40;
            font-family: Euclid Circular A;
            font-size: 1.6rem;
            font-style: normal;
            font-weight: 500;
            line-height: 140%;

          }
        }
      }

      >tbody {
        >tr {
          padding: 1.5rem 2rem;
          height: 5.2rem;
          color: #3B3C40;
          font-family: Euclid Circular A;
          font-size: 1.6rem;
          font-style: normal;
          font-weight: 500;
          line-height: 140%;

          &:last-of-type {
            >td {
              border-bottom: none;
            }
          }

          >td {
            padding: 2rem 1.5rem;
            border-bottom: 1px solid #DFDFF0;
          }
        }
      }
    }
  }

  @media (max-width: 48em) {
    max-width: 100%;

    p,
    ul {
      margin-top: 4rem;
      color: #3B3C40;
      font-size: 2.8rem;
      line-height: 130%;
    }

    .lk-info__btns {
      overflow: auto;
      padding-bottom: 3rem;
      display: flex;
      flex-direction: row;
      gap: 1.6rem;
      border-bottom: none;
    }

    .lk-info__btn {
      display: flex;
      text-wrap: nowrap;
      padding: 1.6rem 2.4rem;
      height: 7.4rem;
      border-radius: 2rem;
      color: #3B3C40;
      font-size: 2.8rem;
      line-height: 130%;
    }

    &__delivery {
      margin-top: 6rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

    }

    &__table-container {
      border-radius: 4rem;
    }

    &__tables {
      margin-top: 6rem;
      display: flex;
      flex-direction: column;
      gap: 6rem;
    }

    .table {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      box-sizing: border-box;

      &_type {
        &_tariff {
          width: 100%;
        }

        &_delivery {
          width: 100%;
        }
      }

      &__container {
        display: flex;
        box-sizing: border-box;
        border: 1px solid #DFDFF0;
        border-radius: 4rem;
        z-index: 10;
        background-color: white;
        overflow: hidden;
      }

      &__title {
        font-size: 3.4rem;
        line-height: 140%;
      }

      &__inner {
        max-width: 100%;

        >thead {
          padding-top: 4rem;

          >tr {
            height: 11.6rem;

            >th {
              padding: 4rem 4rem;
              font-size: 2.8rem;
              font-style: normal;
              font-weight: 500;
              line-height: 140%;
            }
          }
        }

        >tbody {
          >tr {
            padding: 3rem 4rem;
            height: 9.6rem;
            font-size: 2.8rem;
            line-height: 130%;

            >td {
              padding: 3rem 4rem;

              &:last-of-type {
                padding-right: 2rem;
                width: 27rem;
              }
            }
          }
        }
      }
    }
  }
}

.lk-info-payment {
  .title-h4 {
    margin-top: 3rem;
  }

  >ul {}

  ol {
    margin: 3rem 0 0;
    padding-left: 1.6rem;
  }

  &__text-list {}

  &__card-list {
    display: flex;
    flex-direction: row;
    gap: 2rem;

    >li {
      display: flex;
      width: 8.2rem;
      height: 5rem;
      border-radius: 1.5rem;
      background: #F4F6F8;
      align-items: center;
      justify-content: center;
      >svg{
        height: 1.6rem;
      }
    }
  }
}