.o-nas {
    .title-h3 {
        margin-bottom: 6rem;
    }
    &-container {
        padding-top: 3rem;
        display: flex;
        flex-direction: column;
        gap: 6rem;
        border-top: 1px solid rgba(146, 147, 176, 0.50);
    }
    &-item {
        display: flex;
        &--title {
            font-size: 3.8rem;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            width: 39.5rem;
        }
        &--text {
            font-size: 1.6rem;
            font-style: normal;
            font-weight: 500;
            line-height: 140%;
            width: 37.3rem;
            margin-left: auto;
            display: flex;
            flex-direction: column;
            gap: 2rem;
        }
        &--img {
            margin-left: 6rem;
            width: 59.7rem;

            img {
                object-fit: cover;
            }
        }
    }
}
@media (max-width: 48em) {
    .o-nas {
        .title-h3 {
            margin-bottom: 4rem;
        }
        &-container {
            padding-top: 6rem;
            gap: 12rem;
        }
        &-item {
            display: grid;
            &--title {
                grid-row: 1;
                font-size: 4rem;
                width: auto;
                margin-bottom: 3.2rem;
            }
            &--text {
                grid-row: 3;
                font-size: 2.4rem;
                font-style: normal;
                font-weight: 500;
                line-height: 130%;
                width: auto;
                margin-left: auto;
                gap: 2rem;
            }
            &--img {
                grid-row: 2;
                margin-left: 0;
                width: auto;
                margin-bottom: 3.2rem;
    
                img {
                    object-fit: cover;
                }
            }
        }
    }
}
