.order {
	// .order_purchase
	&_purchase {
		.product_purchase {
			&-box {
				padding: 4rem 2rem;
				margin-top: 6rem;

				@media (max-width: 48em) {
					padding: 6rem 3rem;
					margin-top: 0;
				}

				&--top {
					display: flex;
					align-items: center;
					justify-content: space-between;
					column-gap: 1rem;

					margin-bottom: 2.8rem;

					@media (max-width: 48em) {
						margin-bottom: 3.2rem;
					}
				}

				&--title {
					color: #3b3c40;
					font-size: 2.4rem;
					font-weight: 600;
					line-height: normal;

					@media (max-width: 48em) {
						font-size: 3.6rem;
					}
				}

				&--goods {
					color: #9293b0;
					text-align: right;
					font-size: 1.8rem;
					font-weight: 500;
					line-height: 130%; /* 23.4px */

					@media (max-width: 48em) {
						font-size: 3rem;
						line-height: 140%; /* 21px */
					}
				}

				&--main {
					margin-bottom: 2.8rem;

					@media (max-width: 48em) {
						margin-bottom: 4.8rem;
					}
				}

				&--wrapper {
					margin-bottom: 2.8rem;

					@media (max-width: 48em) {
						margin-bottom: 4.8rem;
					}
				}

				&--item {
					display: flex;
					align-items: center;
					justify-content: space-between;
					column-gap: 1rem;

					&:not(:last-child) {
						margin-bottom: 1.8rem;

						@media (max-width: 48em) {
							margin-bottom: 2rem;
						}
					}

					&.item-result {
						margin-top: 2.8rem;

						@media (max-width: 48em) {
							margin-top: 0;
						}
					}
				}

				&--coast--name {
					color: #9293b0;
					font-size: 1.8rem;
					font-weight: 500;
					line-height: 130%; /* 23.4px */

					&.name-result {
						font-size: 2.4rem;

						@media (max-width: 48em) {
							font-size: 3.6rem;
							line-height: normal;
						}
					}

					@media (max-width: 48em) {
						font-size: 3rem;
						line-height: 140%; /* 21px */
					}
				}

				&--coast--value {
					color: #3b3c40;
					text-align: right;
					font-size: 1.8rem;
					font-weight: 500;
					line-height: 130%; /* 23.4px */

					&.value-sale {
						color: #e50e78;
					}
					&.value-result {
						font-size: 2.4rem;
						font-weight: 600;
						line-height: normal;

						@media (max-width: 48em) {
							font-size: 3.6rem;
						}
					}

					@media (max-width: 48em) {
						font-size: 3rem;
						line-height: 140%; /* 21px */
					}
				}

				&--promocode {
					span {
						display: block;
						color: #3b3c40;
						font-size: 1.8rem;
						font-weight: 500;
						line-height: 130%; /* 23.4px */

						margin-bottom: 1.6rem;

						@media (max-width: 48em) {
							font-size: 3rem;
							line-height: 140%;
							margin-bottom: 2rem;
						}
					}

					input {
						width: 100%;
						height: 6rem;
						border-radius: 1.5rem;
						border: 0.1rem solid #9293b0;

						padding: 1.8rem 2.5rem;

						font-size: 1.6rem;
						font-weight: 500;
						line-height: 140%;

						@media (max-width: 48em) {
							padding: 2.4rem 4rem;
							height: 8.4rem;
							font-size: 2.8rem;
							border: 0.2rem solid #9293b0;
							border-radius: 2rem;
						}

						&::placeholder {
							color: #9293b0;
							font-size: 1.6rem;
							font-weight: 500;
							line-height: 140%; /* 22.4px */

							@media (max-width: 48em) {
								font-size: 2.8rem;
							}
						}
					}
				}

				&--btns {
					.btn {
						padding: 0;
						margin-bottom: 0;

						@media (max-width: 48em) {
							border-radius: 2rem;
							width: 100%;
							align-items: center;
							justify-content: center;
						}
					}
				}
			}

			&--line {
				height: 0.1rem;

				@media (max-width: 48em) {
					margin-bottom: 3.2rem;
				}
			}
		}
	}
	// .order__header
	&__header {
		margin-bottom: 4rem;

		@media (max-width: 48em) {
			margin-bottom: 8rem;
		}
	}

	&__back {
		margin-bottom: 6rem;
		label {
			display: flex;
			align-items: center;
			column-gap: 2.4rem;
		}

		span {
			width: 4.8rem;
			height: 4.8rem;

			svg {
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
		}

		button {
			color: #3b3c40;
			font-size: 3rem;
			font-weight: 500;
			line-height: 140%; /* 21px */
		}
	}
	// .order__title
	&__title {
		margin-bottom: 8rem;

		@media (max-width: 48em) {
			margin-bottom: 6rem;
		}
	}
	// .order__progress
	&__progress {
		position: relative;
	}
	// .order__progress-line
	&__progress-line {
		background: #dfdff0;
		width: 100%;
		height: 1px;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}
	// .order__progress-line-pink
	&__progress-line-pink {
		background: #e50e78;
		width: 16.5%;
		height: 1px;
		position: absolute;
		transition: all 1s ease-in-out;
		@media (max-width: 48em) {
			width: 12.5%;
		}
		&.second {
			width: 50%;

			&.third {
				width: 83.5%;

				@media (max-width: 48em) {
					width: 88.5%;
				}
			}
		}
	}
	// .order__progress-steps
	&__progress-steps {
		display: flex;
		justify-content: space-between;
	}
	// .order__progress-step
	&__progress-step {
		transition: all 0.5s ease-in-out;
		position: relative;
		width: 2.4rem;
		height: 2.4rem;
		border-radius: 50%;
		border: 1px solid #9293b0;
		display: flex;
		justify-content: center;
		align-items: center;
		background: #fff;
		cursor: pointer;

		@media (max-width: 48em) {
			width: 4.8rem;
			height: 4.8rem;
		}

		&:first-child {
			margin-left: 24.8rem;

			@media (max-width: 48em) {
				margin-left: 5.8rem;
			}
		}
		&:last-child {
			margin-right: 24.8rem;

			@media (max-width: 48em) {
				margin-right: 5.8rem;
			}
		}

		&--number {
			transition: all 1s ease-in-out;
			font-size: 1.4rem;
			font-style: normal;
			font-weight: 500;
			line-height: 140%;
			color: #9293b0;

			@media (max-width: 48em) {
				font-size: 2.8rem;
			}
		}
		&--text {
			transition: all 1s ease-in-out;
			opacity: 0;
			position: absolute;
			font-size: 1.6rem;
			font-style: normal;
			font-weight: 500;
			line-height: 140%;
			padding: 0.9rem 2.4rem;
			border-radius: 15px;
			background: #f4f6f8;
			width: max-content;
			top: -6rem;

			@media (max-width: 48em) {
				display: none;
				font-size: 2.8rem;
				line-height: 130%;
				padding: 1.6rem 2.4rem;
				border-radius: 10px;
				top: -9.4rem;
			}
		}
		&--ok {
			transition: all 1s ease-in-out;
			opacity: 0;
			position: absolute;

			@media (max-width: 48em) {
				transition: all 1s ease-in-out;
				opacity: 0;
				position: absolute;
			}
		}
		&.active {
			border: unset;
			.order__progress-step--number {
				opacity: 0;
			}
			.order__progress-step--ok {
				opacity: 1;
				width: 2.4rem;
				height: 2.4rem;

				@media (max-width: 48em) {
					width: 4.8rem;
					height: 4.8rem;
				}
				svg {
					width: 2.4rem;
					height: 2.4rem;

					@media (max-width: 48em) {
						width: 4.8rem;
						height: 4.8rem;
					}
				}
			}
		}
		&:hover {
			.order__progress-step--text {
				opacity: 1;
			}
		}
	}
	// .order__inner
	&__inner {
		display: flex;
		justify-content: space-between;
		column-gap: 6rem;

		@media (max-width: 48em) {
			flex-direction: column;
			column-gap: 0;
			row-gap: 16rem;
		}
	}
	// .order__wrapper-form
	&__wrapper-form {
		max-width: 112.5rem;
		width: 100%;
	}
}

.order-form {
	&--second,
	&--third {
		display: none;
		opacity: 0;
	}

	// .order-form__header
	&__header {
		margin-bottom: 4rem;

		@media (max-width: 48em) {
			margin-bottom: 6rem;
		}
	}
	// .order-form__title
	&__title {
		color: #3b3c40;
		font-size: 2.4rem;
		font-weight: 600;
		line-height: normal;

		margin-bottom: 3rem;

		@media (max-width: 48em) {
			font-size: 3.6rem;

			margin-bottom: 6rem;
		}
	}
	// .order-form__main
	&__main {
		width: 100%;

		background-color: #fff;
		border-radius: 3rem;
		box-shadow: 0.5rem 1.5rem 7rem 0 rgba(173, 178, 201, 0.35);
		padding: 4rem;

		@media (max-width: 48em) {
			border-radius: 4rem;
			padding: 6rem 3rem;
		}

		&--bg--none {
			background: none;
			box-shadow: none;
			padding: 0;
		}
	}

	&__switcher-btns {
		display: flex;
		gap: 1rem;

		@media (max-width: 48em) {
			gap: 1.6rem;
			flex-wrap: wrap;
		}
	}

	&__switcher-btn {
		color: #3b3c40;
		font-size: 1.6rem;
		font-weight: 500;
		line-height: 140%;
		border-radius: 1.5rem;
		background: #f4f6f8;
		padding: 0.9rem 2.4rem;
		cursor: pointer;

		&.active {
			color: #fff;
			background: #e50e78;
		}

		@media (max-width: 48em) {
			font-size: 2.8rem;
			line-height: 130%; /* 18.2px */
			padding: 1.6rem 2.4rem;
			border-radius: 2rem;
		}
	}

	&__item-pay {
		display: none;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;

		gap: 1.5rem;

		&.active {
			display: flex;
		}
	}
}

.order-form-main {
	// .order-form-main__header
	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		column-gap: 1rem;

		margin-bottom: 4rem;

		@media (max-width: 48em) {
			flex-direction: column;
			align-items: start;

			margin-bottom: 6rem;
			column-gap: 0;
			row-gap: 6rem;
		}
	}
	// .order-form-main__toggle
	&__toggle {
		display: flex;
		align-items: center;
		column-gap: 6rem;

		@media (max-width: 48em) {
			flex-direction: column;
			align-items: start;
			justify-content: center;
			column-gap: 0;
			row-gap: 4rem;
			order: 2;
		}
	}
	// .order-form-main__item-radio
	&__item-radio {
		column-gap: 1.5rem;

		@media (max-width: 48em) {
			column-gap: 3rem;
		}
		p {
			color: #3b3c40;
			font-size: 2rem;
			font-weight: 500;
			line-height: 120%; /* 24px */

			@media (max-width: 48em) {
				font-size: 3.4rem;
				line-height: 140%;
			}
		}
	}
	// .order-form-main__account
	&__account {
		@media (max-width: 48em) {
			order: 1;
		}
		label {
			display: flex;
			align-items: center;
			column-gap: 1rem;
			cursor: pointer;

			@media (max-width: 48em) {
				column-gap: 2rem;
			}
		}

		span {
			width: 2.4rem;
			height: 2.4rem;

			@media (max-width: 48em) {
				width: 4.8rem;
				height: 4.8rem;
			}

			svg {
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
		}

		button {
			color: #e50e78;
			text-align: center;
			font-size: 1.8rem;
			font-weight: 500;
			line-height: 130%; /* 23.4px */

			@media (max-width: 48em) {
				font-size: 3.6rem;
			}
		}
	}

	&__content {
		display: none;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: 2rem;

		&.active {
			display: flex;
		}
	}
}

.order-form-item {
	width: 51.2rem;

	@media (max-width: 48em) {
		width: 100%;
	}
	// .order-form-item__title
	&__title {
		color: #3b3c40;
		font-size: 1.8rem;
		font-weight: 500;
		line-height: 130%; /* 23.4px */

		margin-bottom: 1.5rem;
		margin-left: 2.5rem;

		span {
			color: #9293b0;
			font-size: 1.8rem;
			font-weight: 500;
			line-height: 130%;

			@media (max-width: 48em) {
				font-size: 3rem;
				line-height: 140%;
			}
		}

		@media (max-width: 48em) {
			font-size: 3rem;
			line-height: 140%;
			margin-bottom: 1.2rem;

			margin-left: 4rem;
		}
	}

	&__subtitle {
		color: #9293b0;
		font-size: 2.4rem;
		font-weight: 500;
		line-height: 140%; /* 16.8px */
	}
	// .order-form-item__label
	&__label {
		cursor: pointer;
		position: relative;
		overflow: hidden;
		display: flex;
		column-gap: 0.6rem;

		width: 100%;
		padding: 1.8rem 2.5rem;
		border-radius: 1.5rem;
		border: 0.1rem solid #e50e78;

		@media (max-width: 48em) {
			padding: 2.2rem 4rem;
			border: 0.2rem solid #e50e78;
			border-radius: 2rem;
			margin-bottom: 2.4rem;
		}

		&.disabled {
			cursor: default;
			background-color: #f4f6f8;
			column-gap: 1rem;

			@media (max-width: 48em) {
				column-gap: 7rem;
			}

			input {
				cursor: default;

				overflow: hidden;
				text-overflow: ellipsis;
			}
		}

		&.label-file {
			align-items: center;
			justify-content: center;
		}

		input {
			display: block;
			flex: 1 1 auto;
			height: 2.4rem;
			font-size: 1.6rem;
			font-weight: 500;

			@media (max-width: 48em) {
				height: 4rem;
				font-size: 2.8rem;
			}

			&:invalid + .order-form-item__placeholder {
				display: inline;
			}
		}

		textarea {
			display: block;
			width: 100%;
			resize: none;
			height: 12rem;
			font-size: 1.6rem;

			@media (max-width: 48em) {
				height: 28rem;
				font-size: 2.8rem;
			}

			&::placeholder {
				color: #9293b0;
				font-size: 1.6rem;
				font-weight: 500;
				line-height: 140%; /* 22.4px */

				@media (max-width: 48em) {
					font-size: 2.8rem;
				}
			}
		}

		input[type="file"] {
			position: absolute;
			z-index: -1;
			opacity: 0;
			width: 0;
			height: 0;
			display: block;

			& + .order-form-item__placeholder {
				color: #e50e78;
				position: static;
				width: auto;
			}
		}
	}
	// .order-form-item__icon
	&__icon {
		width: 2.4rem;
		height: 2.4rem;

		@media (max-width: 48em) {
			width: 4rem;
			height: 4rem;
		}

		svg {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	&__placeholder {
		cursor: pointer;

		position: absolute;
		top: 2rem;
		left: 5.5rem;
		z-index: 1;

		width: 43rem;
		height: 2.4rem;
		display: none;

		color: #9293b0;
		font-size: 1.6rem;
		font-weight: 500;
		line-height: 140%; /* 22.4px */

		@media (max-width: 48em) {
			font-size: 2.8rem;
			width: 52rem;
			height: 4rem;

			top: 2.4rem;
			left: 8.6rem;
		}

		span {
			color: #e50e78;
		}
	}

	&__btn {
		color: #e50e78;
		font-size: 1.6rem;
		font-weight: 500;
		line-height: 140%; /* 22.4px */

		@media (max-width: 48em) {
			font-size: 2.8rem;
			line-height: 130%;
		}
	}
}

.pickup-form {
	// .pickup-form__header
	&__header {
		margin-bottom: 3rem;

		@media (max-width: 48em) {
			margin-bottom: 4rem;
		}
	}
	// .pickup-form__delivery-coast
	&__delivery-coast {
		color: #9293b0;
		font-size: 1.6rem;
		font-weight: 500;
		line-height: 140%; /* 22.4px */

		margin-bottom: 3rem;

		@media (max-width: 48em) {
			font-size: 3rem;
			margin-bottom: 4rem;
		}

		&.transport-coast {
			width: 72.3rem;
			@media (max-width: 48em) {
				display: none;
			}
		}
	}
	// .pickup-form__toggle
	&__toggle {
		display: flex;
		align-items: center;
		gap: 2rem;

		@media (max-width: 48em) {
			gap: 4rem;
		}

		label {
			column-gap: 1.2rem;

			@media (max-width: 48em) {
				column-gap: 2.4rem;
			}
		}
	}
	// .pickup-form__map
	&__map {
		width: 100%;
		height: 66.9rem;
		border-radius: 3rem;
		overflow: hidden;

		@media (max-width: 48em) {
			border-radius: 4rem;
			height: 130rem;
		}
	}
	// .pickup-form__list
	&__list {
		display: none;
		gap: 2rem;
		flex-wrap: wrap;

		@media (max-width: 48em) {
			gap: 3rem;
		}
	}
	// .pickup-form__item
	&__item {
		width: 51.2rem;
		min-height: 27rem;
		padding: 2.5rem;

		@media (max-width: 48em) {
			width: 100%;
			height: 50.2rem;
			padding: 3rem;
		}
	}
}

.order-footer-fixed {
	transform: translateY(150%);
	transition: all 0.3s ease-out;

	position: fixed;
	bottom: 7rem;
	left: 2rem;
	z-index: 2;

	width: 71rem;
	min-height: 30rem;
	background-color: #fff;
	border-radius: 4rem;

	&.show {
		transition: all 0.3s ease-out;
		transform: translateY(0);
	}

	// .order-footer-fixed__inner
	&__inner {
		padding: 3.2rem 2rem;
	}
	// .order-footer-fixed__header
	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;

		margin-bottom: 3.2rem;
	}
	// .order-footer-fixed__goods
	&__goods {
		color: #9293b0;
		font-size: 3rem;
		font-weight: 500;
		line-height: 140%; /* 21px */
	}
	// .order-footer-fixed__cost
	&__cost {
		color: #3b3c40;
		text-align: right;
		font-size: 3.6rem;
		font-weight: 600;
		line-height: normal;
	}
	// .order-footer-fixed__btn
	&__btn {
		width: 100%;
		padding: 0;
		justify-content: center;
	}
}

.pickup-list--item {
	cursor: pointer;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	border-radius: 1.5rem;
	background: #fff;
	box-shadow: 0.5rem 1.5rem 7rem 0 rgba(173, 178, 201, 0.35);

	@media (max-width: 48em) {
		border-radius: 3rem;
	}

	&.active {
		background: #f3efff;
	}
	// .pickup-list--item__header
	&__header {
		display: flex;
		justify-content: space-between;
		gap: 1rem;

		@media (max-width: 48em) {
			gap: 2rem;
		}
	}
	// .pickup-list--item__radio
	&__radio {
		display: flex;
		gap: 1.2rem;

		@media (max-width: 48em) {
			gap: 3.2rem;
		}
	}
	// .pickup-list--item__radio-item
	&__radio-item {
		width: 2.4rem;

		@media (max-width: 48em) {
			width: 4.8rem;
		}
	}
	// .pickup-list--item__radio-title
	&__radio-title {
		color: #3b3c40;
		font-size: 2rem;
		font-weight: 500;
		line-height: 120%; /* 24px */

		@media (max-width: 48em) {
			font-size: 3.4rem;
			line-height: 140%;
		}
	}
	// .pickup-list--item__radio-subtitle
	&__radio-subtitle {
		color: #9293b0;
		font-size: 1.6rem;
		font-weight: 500;
		line-height: 140%; /* 22.4px */

		@media (max-width: 48em) {
			font-size: 2.8rem;
			line-height: 130%;
		}
	}
	// .pickup-list--item__call
	&__call {
		display: flex;
		gap: 1.5rem;

		@media (max-width: 48em) {
			gap: 3rem;
			align-items: center;
		}

		&.mobile {
			@media (max-width: 48em) {
				display: flex;
			}
		}
	}
	// .pickup-list--item__call-item
	&__call-item {
		font-size: 1.6rem;
		font-weight: 500;
		line-height: 140%; /* 22.4px */

		strong {
			display: block;
			color: #e50e78;
		}

		span {
			display: block;
			color: #9293b0;
			text-align: right;

			@media (max-width: 48em) {
				text-align: left;
			}
		}

		@media (max-width: 48em) {
			font-size: 2.8rem;
			line-height: 130%;
			order: 2;
			display: flex;
			gap: 0.4rem;
		}
	}
	// .pickup-list--item__call-btn
	&__call-btn {
		width: 4rem;
		height: 4rem;
		background-color: #e50e78;
		border-radius: 50%;

		display: flex;
		align-items: center;
		justify-content: center;

		@media (max-width: 48em) {
			width: 8rem;
			height: 8rem;
			order: 1;
		}

		svg {
			width: 2rem;
			height: 2rem;

			@media (max-width: 48em) {
				width: 4rem;
				height: 4rem;
			}
		}
	}
	// .pickup-list--item__address
	&__address {
		color: #3b3c40;
		font-size: 1.6rem;
		font-weight: 500;
		line-height: 140%; /* 22.4px */

		@media (max-width: 48em) {
			font-size: 2.8rem;
			line-height: 130%;

			margin-bottom: 3rem;
		}
	}
	// .pickup-list--item__footer
	&__footer {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 1rem;

		@media (max-width: 48em) {
			gap: 2rem;
		}
	}
	// .pickup-list--item__time
	&__time {
		display: flex;
		align-items: center;
		gap: 1rem;
		background-color: #3b3c40;
		border-radius: 1.5rem;
		padding: 0.8rem 1rem;

		@media (max-width: 48em) {
			gap: 2rem;
			padding: 1.4rem 2rem;
			border-radius: 3rem;
		}

		strong {
			display: block;
			color: #fff;
			font-size: 1.6rem;
			font-weight: 500;
			line-height: 140%; /* 22.4px */

			@media (max-width: 48em) {
				font-size: 2.8rem;
				line-height: 130%;
			}
		}
		span {
			display: block;
			width: 2.4rem;
			height: 2.4rem;

			@media (max-width: 48em) {
				width: 4.8rem;
				height: 4.8rem;
			}

			svg {
				width: 100%;
				height: 100%;
			}
		}
	}
	// .pickup-list--item__weekend
	&__weekend {
		color: #9293b0;
		text-align: right;
		font-size: 1.6rem;
		font-weight: 500;
		line-height: 140%; /* 22.4px */

		@media (max-width: 48em) {
			font-size: 2.8rem;
			line-height: 130%;
		}
	}
}

.transport-form {
	// .transport-form__inner
	&__inner {
		background-color: #fff;
		border-radius: 3rem;
		box-shadow: 0.5rem 1.5rem 7rem 0 rgba(173, 178, 201, 0.35);
		padding: 3rem 4rem;

		@media (max-width: 48em) {
			border-radius: 4rem;
			padding: 6rem 3rem;
		}
	}
	// .transport-form__header
	&__header {
		margin-bottom: 4rem;

		@media (max-width: 48em) {
			display: none;
		}
	}
	// .transport-form__title
	&__title {
		color: #9293b0;
		font-size: 1.6rem;
		font-weight: 500;
		line-height: 140%; /* 22.4px */
	}
	// .transport-form__main
	&__main {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: 1.5rem;

		margin-bottom: 2rem;

		@media (max-width: 48em) {
			fap: 3rem;
			flex-direction: column;
			margin-bottom: 6rem;
		}
	}
	// .transport-form__item
	&__item {
		cursor: pointer;
		width: 25rem;
		height: 19.4rem;

		border-radius: 1.5rem;
		border: 0.2rem solid #f4f6f8;
		background: #fff;
		padding: 1.5rem;

		display: flex;
		align-items: center;
		flex-direction: column;

		@media (max-width: 48em) {
			width: 100%;
			height: 32rem;
			border-radius: 3rem;
			border: 0.4rem solid #f4f6f8;
			padding: 3rem;
		}

		&.active {
			background: #f3efff;
		}
	}
	// .transport-form__item-radio
	&__item-radio {
		align-self: flex-start;
	}
	// .transport-form__img
	&__img {
		flex: 1 0 auto;
		display: flex;
		align-items: center;

		img {
			max-width: 14rem;
			max-height: 9rem;
			object-fit: contain;

			@media (max-width: 48em) {
				max-width: 23.4rem;
				max-height: 18.6rem;
			}
		}
	}
	// .transport-form__text
	&__text {
		flex: 1 0 auto;
		display: flex;
		align-items: center;

		color: #3b3c40;
		text-align: center;
		font-size: 1.8rem;
		font-weight: 500;
		line-height: 130%; /* 23.4px */

		width: 14.9rem;

		@media (max-width: 48em) {
			width: 29.8rem;
			font-size: 3rem;
			line-height: 140%;
			margin-bottom: 4rem;
		}
	}
	// .transport-form__footer
	&__footer {
		display: none;

		.order-form-item__title {
			margin-left: 0;

			@media (max-width: 48em) {
				margin-left: 4rem;
			}
		}
	}
}

.pay-item {
	cursor: pointer;
	display: flex;
	flex-direction: column;
	align-items: center;

	max-width: 33.8rem;
	width: 100%;
	min-height: 19.4rem;

	border-radius: 1.5rem;
	border: 0.2rem solid #f4f6f8;
	background: #fff;

	padding: 1.5rem;

	&.active {
		background: #f3efff;

		.pay-item__img {
			svg path {
				fill: #e50e78;
			}
		}
	}

	@media (max-width: 48em) {
		max-width: 100%;
		min-height: 32rem;
		border-radius: 3rem;
		border: 0.4rem solid #f4f6f8;

		padding: 3rem;
	}
	// .pay-item__item-radio
	&__item-radio {
		align-self: flex-start;
	}
	// .pay-item__info
	&__info {
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
		align-items: center;

		gap: 2.5rem;

		@media (max-width: 48em) {
			gap: 3.2rem;
		}
	}
	// .pay-item__img
	&__img {
		width: 4rem;
		height: 4rem;

		@media (max-width: 48em) {
			width: 8rem;
			height: 8rem;
		}

		svg {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
	// .pay-item__text
	&__text {
		color: #3b3c40;
		text-align: center;
		font-size: 1.8rem;
		font-weight: 500;
		line-height: 130%; /* 23.4px */

		@media (max-width: 48em) {
			font-size: 3rem;
			line-height: 140%; /* 21px */
		}
	}
}

.delivery-form {
	// .delivery-form__inner
	&__inner {
		border-radius: 3rem;
		background: #fff;
		box-shadow: 0.5rem 1.5rem 7rem 0 rgba(173, 178, 201, 0.35);

		padding: 4rem;

		@media (max-width: 48em) {
			padding: 6rem 3rem;
			border-radius: 4rem;
		}
	}
	// .delivery-form__header
	&__header {
		display: flex;
		align-items: center;
		gap: 2rem;

		margin-bottom: 4rem;

		@media (max-width: 48em) {
			flex-direction: column;
			gap: 0;
			align-items: flex-start;

			margin-bottom: 6rem;
		}

		> span {
			margin-left: 1.2rem;
			color: #9293b0;
			font-size: 1.6rem;
			font-weight: 500;
			line-height: 140%; /* 22.4px */

			@media (max-width: 48em) {
				font-size: 2.8rem;
				line-height: 130%; /* 22.4px */
				margin-left: 8.8rem;
			}
		}
	}
	// .delivery-form__item-radio
	&__item-radio {
		p {
			color: #3b3c40;
			font-size: 2rem;
			font-weight: 500;
			line-height: 120%; /* 24px */
			margin-left: 1.2rem;

			@media (max-width: 48em) {
				font-size: 3.4rem;
				line-height: 140%;
				margin-left: 4rem;
			}
		}
		@media (max-width: 48em) {
			align-items: center;
			&:first-child {
				margin-bottom: 4rem;
			}
			margin-bottom: 1.6rem;
		}
	}
	// .delivery-form__main
	&__main {
		margin-bottom: 4rem;

		@media (max-width: 48em) {
			margin-bottom: 6rem;
		}
	}
	// .delivery-form__footer
	&__footer {
		padding-top: 4rem;
		border-top: 0.1rem solid #dfdff0;

		@media (max-width: 48em) {
			border-top: 0.2rem solid #dfdff0;
			padding-top: 6rem;
		}

		strong {
			color: #3b3c40;
			font-size: 2.4rem;
			font-weight: 600;
			line-height: normal;

			@media (max-width: 48em) {
				font-size: 3.6rem;
			}
		}

		span {
			color: #9293b0;
			font-size: 2rem;
			font-weight: 500;
			line-height: 120%; /* 24px */

			margin-right: 2rem;

			@media (max-width: 48em) {
				margin-right: 4rem;
				font-size: 3.4rem;
			}
		}
	}
}

.delivery-form-main {
	display: flex;
	flex-direction: column;
	gap: 4rem;

	@media (max-width: 48em) {
		gap: 6rem;
	}
	// .delivery-form-main__address
	&__address {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: 2rem;

		@media (max-width: 48em) {
			gap: 4rem;
		}

		.order-form-item {
			&.apartment {
				max-width: 26.2rem;
				width: 100%;

				@media (max-width: 48em) {
					max-width: 100%;
				}

				.order-form-item__placeholder {
					width: 21rem;

					@media (max-width: 48em) {
						width: 56.6rem;
					}
				}
			}

			&__placeholder {
				top: 1.8rem;
				left: 2.5rem;
				width: 46rem;

				@media (max-width: 48em) {
					width: 56.6rem;
					top: 2.2rem;
					left: 4rem;
				}
			}
		}
	}
	// .delivery-form-main__comments
	&__comment {
		.order-form-item {
			width: 100%;
			// .order-form-item__label
			&__label {
				width: 100%;

				textarea {
					height: 2.4rem;
					@media (max-width: 48em) {
						min-height: 19.4rem;
					}

					&:focus {
						height: 15rem;

						@media (max-width: 48em) {
							height: 19.4rem;
						}
					}
				}
			}
		}
	}
}

.delivery-options {
	// .delivery-options__main
	&__main {
		display: flex;
		align-items: center;
		gap: 4rem;
		margin-bottom: 1.2rem;

		@media (max-width: 48em) {
			flex-direction: column;
			align-items: flex-start;
			margin-bottom: 2rem;
		}
	}
	// .delivery-options__item-radio
	&__item-radio {
		@media (max-width: 48em) {
			align-items: center;
		}
		p {
			color: #9293b0;
			font-size: 1.8rem;
			font-weight: 500;
			line-height: 130%; /* 24px */
			margin-left: 1.2rem;

			@media (max-width: 48em) {
				font-size: 3rem;
				line-height: 140%; /* 24px */
				margin-left: 2.4rem;
			}
		}

		input:checked ~ p {
			color: #3b3c40;
		}
	}
	// .delivery-options__comment
	&__comment {
		color: #3b3c40;
		font-size: 1.6rem;
		font-weight: 500;
		line-height: 140%; /* 22.4px */

		@media (max-width: 48em) {
			font-size: 3rem;
		}
	}
	// .delivery-options__floor
	&__floor {
		margin-top: 2.5rem;

		@media (max-width: 48em) {
			margin-top: 4rem;
		}
	}
}

.delivery-outer {
	// .delivery-outer__item-radio
	&__item-radio {
		@media (max-width: 48em) {
			align-items: center;
		}
		p {
			color: #9293b0;
			font-size: 2rem;
			font-weight: 500;
			line-height: 120%; /* 24px */
			margin-left: 1.2rem;

			@media (max-width: 48em) {
				margin-left: 2.4rem;
				font-size: 3rem;
			}
		}

		input:checked ~ p {
			color: #3b3c40;
		}
	}
}

.order-form-item--outer {
	margin-top: 2.5rem;

	@media (max-width: 48em) {
		margin-top: 4rem;
	}
}

.change-address-modal {
	&-container {
		width: 95.6rem;
		height: 55.6rem;

		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		overflow: hidden;

		background: #f3efff;
		border-radius: 3rem;

		@media (max-width: 48em) {
			width: 100%;
			height: 116.2rem;
			border-radius: 4rem;
		}

		.modal-container {
			&--title {
				text-align: center;
				margin-bottom: 3rem;

				@media (max-width: 48em) {
					margin-bottom: 6rem;
				}
			}
		}
	}
}

.change-address-form {
	width: 64.9rem;

	@media (max-width: 48em) {
		width: 70rem;
	}

	&__header {
		display: grid;
		grid-template-columns: 2.4rem 43rem 16.5rem;
		gap: 1.5rem;

		margin-bottom: 1.5rem;

		.change-address-item__text {
			&:nth-child(1) {
				grid-column: 2/3;
			}

			&:nth-child(2) {
				grid-column: 3/4;
			}
		}
	}

	&__content {
		max-height: 16rem;
		overflow: auto;
		height: 100%;

		display: flex;
		flex-direction: column;
		gap: 1.5rem;

		@media (max-width: 48em) {
			max-height: 80rem;
			gap: 0;
		}
	}

	&__inner {
		margin-bottom: 3rem;

		@media (max-width: 48em) {
			margin-bottom: 6rem;
			height: 100%;
		}
	}

	&__buttons {
		.product_purchase-box--btns {
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 4rem;

			.btn,
			.btn-reverse {
				width: 30.5rem;
			}

			.btn {
				justify-content: space-between;

				@media (max-width: 48em) {
					width: 26rem;
					justify-content: center;
					padding: 0;
				}
			}

			.btn-reverse {
				padding: 0;
				justify-content: center;

				@media (max-width: 48em) {
					width: 39rem;
				}
			}
		}
	}
}

.change-address-item {
	display: grid;
	grid-template-columns: 2.4rem 43rem 16.5rem;
	gap: 1.5rem;

	@media (max-width: 48em) {
		gap: 2rem;
		grid-template-columns: 4.8rem 1fr;

		&:not(:last-child) {
			padding-bottom: 6rem;
			border-bottom: 0.2rem solid #9293b0;
		}

		&:not(:first-child) {
			padding-top: 6rem;
		}
	}
	.order-form-item__label {
		border: none;
		background: #fff;
		box-shadow: 0.5rem 0.7rem 1.4rem 0 rgba(173, 178, 201, 0.15);
		color: #9293b0;

		input {
			width: 100%;
		}
	}

	&.active {
		.order-form-item__label {
			border: 0.1rem solid #e50e78;
			background: #f3efff;
			box-shadow: none;
			color: #3b3c40;

			@media (max-width: 48em) {
				border: 0.2rem solid #e50e78;
			}
		}
	}

	&__text {
		color: #3b3c40;
		font-size: 1.8rem;
		font-weight: 500;
		line-height: 130%; /* 23.4px */

		margin-left: 2.5rem;

		@media (max-width: 48em) {
			font-size: 3rem;
			line-height: 140%;
			margin-left: 4rem;
			margin-bottom: 1.2rem;
		}

		span {
			color: #9293b0;
		}
	}

	&__item-radio {
		grid-row: 1;
		grid-column: 1/2;
		align-self: center;

		@media (max-width: 48em) {
			align-self: end;
			margin-bottom: 1.6rem;
			grid-row: 1;
		}
	}

	&__input-address {
		grid-row: 1;
		grid-column: 2/3;
		width: 100%;

		@media (max-width: 48em) {
			grid-row: 1;
		}
	}

	&__input-apartments {
		grid-row: 1;
		grid-column: 3/4;
		width: 100%;

		@media (max-width: 48em) {
			grid-row: 2;
			grid-column: 2/3;
		}
	}
}

.order-form-item--outer {
	display: none;
}

.submit-order-modal {
	&-container {
		max-width: 122.4rem;
		width: 100%;
		min-height: 56.5rem;
		border-radius: 3rem;
		background: #f3efff;
		padding: 4rem;

		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		overflow: hidden;

		@media (max-width: 48em) {
			padding: 2rem;
			min-height: 82.2rem;
			max-width: 71rem;
			border-radius: 4rem;
		}

		&--back {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 89.724rem;
			height: 37.3154rem;
			z-index: -1;
		}
	}

	&-content {
		width: 90.5rem;
		display: flex;
		align-items: center;
		flex-direction: column;

		@media (max-width: 48em) {
			width: 67rem;
		}
		.modal-container--title {
			text-align: center;
			margin-bottom: 3.2rem;

			@media (max-width: 48em) {
				margin-bottom: 4.8rem;
			}
		}

		&--subtitle {
			color: #9293b0;
			text-align: center;
			font-size: 1.8rem;
			font-weight: 500;
			line-height: 130%; /* 23.4px */

			width: 69.5rem;
			margin: 0 0 4rem;

			@media (max-width: 48em) {
				width: 95%;
				font-size: 3rem;
				line-height: 140%; /* 23.4px */
				margin: 0 0 6rem;
			}
		}
	}

	&__buttons {
		.product_purchase-box--btns {
			display: flex;
			align-items: center;
			flex-direction: column;
			gap: 2rem;

			@media (max-width: 48em) {
				gap: 3.2rem;
			}

			.btn {
				@media (max-width: 48em) {
					border-radius: 2rem;
					gap: 4rem;
					padding: 0.6rem 0.6rem 0.6rem 4rem;
				}

				&--icon {
					@media (max-width: 48em) {
						border-radius: 1.6rem;
					}
				}
			}

			.btn-reverse {
				max-width: 18.2rem;
				width: 100%;
				padding: 1rem;
				justify-content: center;
				align-items: center;

				@media (max-width: 48em) {
					padding: 2rem 6rem;
					max-width: 27.2rem;
					border-radius: 2rem;
				}
			}
		}
	}
}
