.place {
	.title-h3 {
		margin-bottom: 3rem;
	}
	&-top {
		display: flex;
		align-items: center;
		gap: 9rem;
		margin-bottom: 3rem;

		&--text {
			font-size: 1.8rem;
			font-style: normal;
			font-weight: 500;
			line-height: 130%;
			color: #9293b0;
			width: 56.8rem;
			flex: none;
		}
	}
	.shops__our-scrollable {
		height: fit-content;
		position: relative;
		.shops__categories {
			margin: 0;
		}
	}
	&--map {
		width: 100%;
		height: 62.6rem;
		border-radius: 4rem;
		overflow: hidden;
		position: relative;
	}
	#place-map {
		width: 100%;
		height: 100%;
	}
	.shops__card-modal {
		position: absolute;
		top: 3.5rem;
		right: 3rem;
		display: none;

		&.active {
			display: block;
		}
	}
	.shops__card {
		height: auto;
		background: #fff;
	}
	.shop__card--exit {
		display: none;
	}
	.shops__main {
		margin-bottom: 1.5rem;
	}
	.shops__card {
		&-img {
			height: 17.4rem;
			border-radius: 3rem;
			overflow: hidden;
		}
	}
	.shops__address {
		margin-bottom: 2.5rem;
		color: #9293b0;
	}
	.shops__managers {
		margin-bottom: 3rem;
		&-title {
			color: #3b3c40;
			font-size: 2rem;
			font-weight: 500;
			line-height: 120%; /* 24px */

			margin-bottom: 1.5rem;
		}

		&-content {
			display: flex;
			align-items: center;
			gap: 4rem;
		}

		&-item {
			display: flex;
			align-items: center;
			gap: 1.2rem;
		}

		&-img {
			width: 6.4rem;
			height: 6.4rem;
			overflow: hidden;
			border-radius: 50%;
		}

		&-info {
			display: flex;
			flex-direction: column;
			gap: 0.8rem;
		}

		&-name {
			color: #3b3c40;
			font-size: 1.8rem;
			font-weight: 500;
			line-height: 130%; /* 23.4px */
		}

		&-status {
			display: flex;
			align-items: center;
			gap: 0.4rem;
			color: #5ccc52;
			font-size: 1.6rem;
			font-weight: 500;
			line-height: 140%; /* 22.4px */

			span {
				display: inline-block;
				width: 0.6rem;
				height: 0.6rem;
				background-color: #5ccc52;
				border-radius: 50%;
			}
		}
	}
}

@media (max-width: 48em) {
	.place {
		.title-h3 {
			margin-bottom: 4rem;
		}
		&-top {
			display: flex;
			flex-direction: column;
			align-items: unset;
			gap: 6.4rem;
			margin-bottom: 6.4rem;

			&--text {
				font-size: 3rem;
				line-height: 140%;
				width: auto;
				flex: none;
			}
		}
		.shops__card-modal {
			.shops__card-img {
				width: 100%;
				height: 27.8rem;
				margin-bottom: 2.4rem;
			}
		}
		.shops__managers {
			margin-bottom: 4rem;
			&-title {
				font-size: 3.4rem;
				margin-bottom: 3rem;
			}

			&-content {
				gap: 4rem;
			}

			&-item {
				gap: 2rem;
				width: 26.8rem;
			}

			&-img {
				width: 9.4rem;
				height: 9.4rem;
			}

			&-name {
				font-size: 3rem;
				line-height: 140%; /* 23.4px */
			}

			&-status {
				font-size: 2.8rem;
				line-height: 130%; /* 22.4px */
				gap: 0.8rem;

				span {
					width: 1.2rem;
					height: 1.2rem;
				}
			}
		}
		.shops__our-scrollable {
			height: fit-content;
			position: relative;
			.shops__categories {
				margin: 0;
			}
		}
		&--map {
			width: 100%;
			height: 130rem;
			border-radius: 4rem;
			position: unset;
		}
		#place-map {
			width: 100%;
			height: 100%;
		}
		.shops__card-modal {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(59, 60, 64, 0.4509803922);
			z-index: 20;

			&.active {
				display: block;
			}
		}
		.shops__card-modal-screen {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
		}
		.shops__card {
			height: auto;
			background: #fff;
			display: flex;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 71rem;
			padding: 12.4rem 4rem 6rem;

			.shops__main {
				flex-direction: column;
				gap: 4rem;
				margin-bottom: 4rem;
				align-items: center;
				margin-right: auto;
			}
			.shops__name {
				margin-right: auto;
				&-title {
					font-size: 3.6rem;
					font-style: normal;
					font-weight: 600;
					line-height: normal;
				}
				&-chapter {
					font-size: 3rem;
					font-style: normal;
					font-weight: 500;
					line-height: 140%;
				}
			}
			.shops__phone {
				display: flex;
				flex-direction: row-reverse;
				gap: 3.2rem;
				align-items: center;

				&-icon {
					width: 8rem;
					height: 8rem;

					svg {
						width: 8rem;
						height: 8rem;
					}
				}
				&-wrapper {
					flex-direction: row;
					gap: 2.4rem;
				}
				&-number {
					font-size: 3.4rem;
					font-style: normal;
					font-weight: 500;
					line-height: 140%;
				}
				&-additional {
					font-size: 3rem;
					font-style: normal;
					font-weight: 500;
					line-height: 140%;
				}
			}
			.shops__address {
				color: #3b3c40;
				font-size: 3rem;
				font-style: normal;
				font-weight: 500;
				line-height: 140%;
				margin-bottom: 4rem;
			}
			.shops__wrapper {
				.shops__time {
					padding: 1.3rem 2rem;
					gap: 2rem;
					&-icon {
						width: 4rem;
						height: 4rem;
					}
					&-work {
						font-size: 3.4rem;
						font-style: normal;
						font-weight: 500;
						line-height: 140%;
					}
				}
				.shops__weekend {
					font-size: 3rem;
					font-style: normal;
					font-weight: 500;
					line-height: 140%;
				}
			}
		}
		.shop__card--exit {
			display: block;
			position: absolute;
			width: 4.8rem;
			height: 4.8rem;
			top: 4rem;
			right: 4rem;

			svg {
				width: 4.8rem;
				height: 4.8rem;
			}
		}
	}
}
