.promotion-page {
    .title-h3 {
        margin-bottom: 4rem;
    }
    &_container {
        display: flex;
        gap: 2rem;
    }
    &__consultation {
        width: 50.7rem;
        height: fit-content;
        padding: 6rem 4rem;
        border-radius: 30px;
        background: #F3EFFF;
        flex: none;

        &--title {
            color: #3B3C40;
            font-size: 2.4rem;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            margin-bottom: 1.4rem;
        }
        &--text {
            color: #9293B0;
            font-size: 1.6rem;
            font-style: normal;
            font-weight: 500;
            line-height: 140%;
            width: 29.5rem;
            margin-bottom: 4rem;
        }
        &--info {
            color: #9293B0;
            font-size: 1.4rem;
            font-style: normal;
            font-weight: 500;
            line-height: 140%;

            a {
                text-decoration-line: underline;
                cursor: pointer;
            }
        }
    }
    &__list {
        flex: 1;
    }
    &__items {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    &__item {
        position: relative;
        padding: 6rem;
        height: 25.3rem;

        &-info {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            color: #FFF;

            &--title {
                font-size: 3.8rem;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
            }
            &--text {
                font-size: 1.6rem;
                font-style: normal;
                font-weight: 500;
                line-height: 140%;
            }
        }

        &--img {
            position: absolute;
            right: 0;
            top: 0;
            height: 25.4rem;
            clip-path: polygon(9% 0, 100% 0, 100% 100%, 0 100%);

            img {
                width: auto;
                height: 100%;
                object-fit: cover;
                border-top-right-radius: 40px;
            }
        }

        &--back {
            position: absolute;
            left: 0;
            top: 0;
            z-index: -5;
            width: 103.3rem;
            height: 25.3rem;

            svg {
                width: 100%;
                height: 25.4rem;
            }
        }
    }
}
.form-consultation {
    margin-bottom: 1.6rem;
    .form__item {
        margin-bottom: 2rem;
    }
    .btn {
        margin-top: 4rem;
    }
}