.promotion-page {
	.title-h3 {
		margin-bottom: 4rem;
	}
	&_container {
		display: flex;
		gap: 2rem;
	}
	&__consultation {
		width: 50.7rem;
		height: fit-content;
		padding: 6rem 4rem;
		border-radius: 3rem;
		background: #f3efff;
		flex: none;
		overflow: hidden;
		position: relative;

		.form-consultation {
			position: relative;
			z-index: 1;
		}

		&::after {
			content: "";
			display: block;
			width: 44.6rem;
			height: 44.6rem;
			background: linear-gradient(30deg, rgba(255, 255, 255, 0.14) 38.93%, rgba(253, 252, 255, 0.5) 91.92%);
			border-radius: 50%;
			left: -9rem;
			bottom: -19rem;
			position: absolute;
			z-index: 0;
		}
		&::before {
			content: "";
			display: block;
			width: 44.6rem;
			height: 44.6rem;
			background: linear-gradient(30deg, rgba(255, 255, 255, 0.27) 38.93%, #fdfcff 91.92%);
			border-radius: 50%;
			top: -10rem;
			right: -12rem;
			position: absolute;
			z-index: 0;
		}

		&--title {
			color: #3b3c40;
			font-size: 2.4rem;
			font-style: normal;
			font-weight: 600;
			line-height: normal;
			margin-bottom: 1.4rem;
			position: relative;
			z-index: 1;
		}
		&--text {
			color: #9293b0;
			font-size: 1.6rem;
			font-style: normal;
			font-weight: 500;
			line-height: 140%;
			width: 29.5rem;
			margin-bottom: 4rem;
			position: relative;
			z-index: 1;
		}
		&--info {
			color: #9293b0;
			font-size: 1.4rem;
			font-style: normal;
			font-weight: 500;
			line-height: 140%;
			position: relative;
			z-index: 1;

			a {
				text-decoration-line: underline;
				cursor: pointer;
			}
		}
	}
	&__list {
		flex: 1;
	}
	&__items {
		display: flex;
		flex-direction: column;
		gap: 2rem;
		margin-bottom: 5rem;
	}
	&__item {
		position: relative;
		padding: 6rem;
		height: 25.3rem;
		display: flex;
		align-items: center;
		background: linear-gradient(345deg, #7d68fb 21.47%, #afa2fb 102.96%);
		border-radius: 4rem 4rem 0 4rem;
		overflow: hidden;

		&-info {
			display: flex;
			flex-direction: column;
			gap: 1.5rem;
			color: #fff;
			width: 55.8rem;

			&--title {
				font-size: 3.8rem;
				font-style: normal;
				font-weight: 600;
				line-height: normal;
			}
			&--text {
				font-size: 1.6rem;
				font-style: normal;
				font-weight: 500;
				line-height: 140%;
			}
		}

		&--img {
			position: absolute;
			right: 0;
			top: 0;
			width: 41.5rem;
			height: 25.4rem;
			clip-path: polygon(9% 0, 100% 0, 100% 100%, 0 100%);

			img {
				height: 100%;
				object-fit: cover;
				border-top-right-radius: 4rem;
			}
		}

		&--back {
			position: absolute;
			left: 0;
			top: 0;
			z-index: -5;
			width: 103.3rem;
			height: 25.3rem;

			svg {
				width: 100%;
				height: 25.4rem;
			}
			&--mob {
				display: none;
				position: absolute;
				left: 0;
				top: 0;
				z-index: -5;
				width: 71rem;
				height: 35rem;
			}
		}
		&--button {
			position: absolute;
			width: 6rem;
			height: 6rem;
			background: #3b3c40;
			border-radius: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
			right: 0;
			bottom: 0;
			z-index: 1;

			svg {
				width: 2.8rem;
				height: 2.8rem;
			}
		}
		&-date {
			position: absolute;
			top: 3rem;
			right: 3rem;

			&--text {
				color: #fff;
				font-size: 1.6rem;
				font-style: normal;
				font-weight: 500;
				line-height: 140%;
				margin-bottom: 0.6rem;
			}
			&--bar {
				width: 100%;
				height: 0.4rem;
				background: #ffffff3f;
				border-radius: 7.2rem;
				position: relative;

				&-progress {
					position: absolute;
					border-radius: 7.2rem;
					left: 0;
					height: 0.4rem;
					background: #fff;
				}
			}
		}
		&--border {
			position: absolute;
			right: 0;
			bottom: 0;
			border-radius: 3.5rem 0 0 0;
			width: 7.2rem;
			height: 7.2rem;
			background: #fff;

			&::before {
				content: "";
				position: absolute;
				right: 100%;
				bottom: 0rem;
				width: 4rem;
				height: 4rem;
				border-radius: 0 0 5rem 0;
				box-shadow: 1rem 1rem 0 0.5rem #fff;
			}
			&::after {
				content: "";
				position: absolute;
				right: 0;
				top: -4rem;
				width: 4rem;
				height: 4rem;
				border-radius: 0 0 5rem 0;
				box-shadow: 1rem 1rem 0 0.5rem #fff;
			}
			// position: absolute;
			// display: block;
			// width: 11.7rem;
			// height: 11.7rem;
			// right: -0.5rem;
			// bottom: -0.5rem;
			// svg {
			// 	width: 11.7rem;
			// 	height: 11.7rem;
			// }
		}
	}
	.btn-empty {
		margin: 0 auto;
		width: 30.5rem;
		text-align: center;
		margin-bottom: 6rem;
	}
}
.form-consultation {
	margin-bottom: 1.6rem;
	.form__item {
		margin-bottom: 2rem;
	}
	.btn {
		margin-top: 4rem;
	}
}

@media (max-width: 48em) {
	.promotion-page {
		.title-h3 {
			margin-bottom: 4rem;
		}
		&_container {
			display: flex;
			flex-direction: column-reverse;
			gap: 16rem;
		}
		&__consultation {
			width: 100%;
			padding: 10rem 2rem;
			border-radius: 4rem;

			&::after {
				content: unset;
			}
			&::before {
				content: unset;
			}

			&--title {
				font-size: 6.4rem;
				line-height: 110%;
				margin-bottom: 4rem;
			}
			&--text {
				font-size: 3rem;
				width: auto;
				margin-bottom: 6rem;
			}
			&--info {
				font-size: 2.4rem;
			}
		}
		&__list {
			flex: 1;
		}
		&__items {
			gap: 3.2rem;
			margin-bottom: 6rem;
		}
		&__item {
			position: relative;
			padding: 4rem;
			height: 35rem;

			&-info {
				display: flex;
				flex-direction: column;
				gap: 4rem;
				color: #fff;
				width: auto;

				&--title {
					width: 36rem;
					font-size: 3.8rem;
					font-style: normal;
					font-weight: 600;
					line-height: normal;
				}
				&--text {
					width: 34.6rem;
					font-size: 3rem;
				}
			}

			&--img {
				position: absolute;
				right: 0;
				top: 0;
				width: 32.2rem;
				height: 35rem;
				clip-path: polygon(23% 0, 100% 0, 100% 100%, 0 100%);

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					border-top-right-radius: 4rem;
				}
			}

			&--back {
				display: none;
				position: absolute;
				left: 0;
				top: 0;
				z-index: -5;
				width: 103.3rem;
				height: 25.3rem;

				svg {
					width: 100%;
					height: 35rem;
				}
				&--mob {
					display: block;
					position: absolute;
					left: 0;
					top: 0;
					z-index: -5;
					width: 71rem;
					height: 35rem;
				}
			}
			&--button {
				position: absolute;
				width: 6.8rem;
				height: 6.8rem;
				background: #3b3c40;
				border-radius: 50%;
				display: flex;
				justify-content: center;
				align-items: center;
				right: 0;
				bottom: 0;

				svg {
					width: 3.2rem;
					height: 3.2rem;
				}
			}
			&--border {
				width: 8rem;
				height: 8rem;
			}

			&-date {
				display: none;
			}
		}

		.btn-empty {
			margin: 0 auto;
			width: 30.5rem;
			text-align: center;
			margin-bottom: 3rem;
		}
	}
	.form-consultation {
		margin-bottom: 4rem;
		.form__item {
			margin-bottom: 2rem;
		}
		.btn {
			margin-top: 6rem;
		}
	}
}
