.title {
  color: #3b3c40;
  font-family: "Euclid Circular A";
  font-size: 5rem;
  font-weight: 500;
  line-height: normal;
}
.title-h2 {
  color: #3b3c40;
  font-family: "Euclid Circular A";
  font-size: 5rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  span {
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    color: #9293b0;
    margin-left: 1.5rem;
  }
}
.title-h3 {
  color: #3b3c40;
  font-family: "Euclid Circular A";
  font-size: 3.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  span {
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    color: #9293b0;
    margin-left: 1.5rem;
  }
}

@keyframes appearence_1 {
  0% {
    opacity: 0;
    transform: translateY(50rem);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;

    transform: translateY(0);
  }
}
@keyframes appearence_2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes appearence_3 {
  0% {
    opacity: 0;
    transform: translateY(-50rem);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;

    transform: translateY(0);
  }
}

@keyframes disappearence_1 {
  0% {
    opacity: 1;

    transform: translateY(0);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: translateY(50rem);
  }
}
@keyframes disappearence_2 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes disappearence_3 {
  0% {
    opacity: 1;

    transform: translateY(0);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: translateY(-50rem);
  }
}
// .title_navigation {
//   display: flex;
//   justify-content: space-between;
// }
// .navigation {
//   display: flex;
//   align-items: center;
//   gap: 2rem;
// }
#map {
  width: 90.2rem;
  height: 62.9rem;
  border-radius: 4rem;
  overflow: hidden;
}
.ymaps-2-1-79-copyrights-pane {
  display: none;
}
.ymaps-2-1-79-controls-pane {
  display: none;
}
.ymaps-2-1-79-map-copyrights-promo {
  display: none;
}
.ymaps-2-1-79-ground-pane {
  /* filter: hue-rotate(257deg) grayscale(1) invert(100%); */
  // -webkit-filter: hue-rotate(257deg) grayscale(100%) invert(100%) contrast(0.7) brightness(130%);
  // filter: hue-rotate(257deg) grayscale(100%) invert(100%) contrast(0.7) brightness(130%);
  filter: grayscale(0.5);
}
.btn-cart {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background-color: #e50e78;
  img {
    width: 2.8rem;
    height: 2.8rem;
  }
}
.btn {
  padding: 0.5rem 0.5rem 0.5rem 3rem;
  border-radius: 1.5rem;
  display: flex;
  gap: 2.5rem;
  height: 6rem;
  align-items: center;
  justify-content: end;
  background: linear-gradient(139deg, #dd3197 0%, #822faf 100%);
  color: #fff;
  font-size: 1.8rem;
}
.btn--icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 5rem;
  border-radius: 1rem;
  background: #fff;
  svg {
    width: 2.4rem;
    height: 2.4rem;
  }
  img {
    width: 2.4rem;
    height: 2.4rem;
  }
}
.btn-categories-link {
  padding: 0.5rem 0.5rem 0.5rem 3rem;
  border-radius: 1.5rem;
  display: flex;
  gap: 2.5rem;
  height: 6rem;
  align-items: center;
  justify-content: end;
  background: linear-gradient(139deg, #dd3197 0%, #822faf 100%);
  color: #fff;
  font-size: 1.8rem;
}
.btn-categories-link--mob {
  display: none;
}
.btn-categories-link--icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 5rem;
  border-radius: 1rem;
  background: #fff;
  svg {
    width: 2.4rem;
    height: 2.4rem;
  }
  img {
    width: 2.4rem;
    height: 2.4rem;
  }
}
.btn-reverse {
  padding: 0.5rem 0.5rem 0.5rem 3rem;
  display: flex;
  gap: 2.5rem;
  font-weight: 500;
  height: 6rem;
  align-items: center;
  justify-content: end;
  background: #fff;
  font-size: 1.8rem;
  box-shadow: 10px 15px 50px 0px rgba(173, 178, 201, 0.2);
  border: 2px solid #dd3197;
  border-radius: 1.5rem;
  position: relative;

  &--text {
    background: linear-gradient(139deg, #dd3197 0%, #822faf 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  &--icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 5rem;
    border-radius: 1rem;
    background: linear-gradient(139deg, #dd3197 0%, #822faf 100%);
    svg {
      width: 2.4rem;
      height: 2.4rem;
    }
    img {
      width: 2.4rem;
      height: 2.4rem;
    }
  }
}
.btn-color {
  padding: 1.9rem 3rem;
  height: 6rem;
  display: block;
  width: fit-content;
  background: linear-gradient(96deg, #dd3197 0%, #822faf 101.4%);
  font-size: 1.8rem;
  font-weight: 500;
  box-shadow: 10px 15px 50px 0px rgba(173, 178, 201, 0.2);
  color: #fff;
  border-radius: 1.5rem;
}
.btn-empty {
  padding: 1.9rem 3rem;
  height: 6rem;
  display: block;
  width: fit-content;
  background: #fff;
  font-size: 1.8rem;
  font-weight: 500;
  box-shadow: 10px 15px 50px 0px rgba(173, 178, 201, 0.2);
  background-clip: padding-box;
  border: 2px solid #dd3197;
  border-radius: 1.5rem;
  position: relative;

  &--text {
    background: linear-gradient(139deg, #dd3197 0%, #822faf 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
.scrollable-list {
  width: 100%;
  overflow: hidden;
}

.popular__categories {
  display: flex;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0;
  transform: translateX(0);
  transition: transform 0.3s ease-out;
}
.swiper-slide {
  cursor: pointer;
}
.swiper-button-disabled {
  opacity: 0;
}
.repair__nav-prev.swiper-button-disabled,
.repair__nav-next.swiper-button-disabled {
  opacity: 1;
}
.categories {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.4;
  &-icon {
    width: 2.4rem;
    height: 2.4rem;
  }
  &-text {
    width: max-content;
  }
  &-link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 1.3rem 2.4rem;
    font-size: 1.6rem;
    border-radius: 1.5rem;
    background: #f4f6f8;
    cursor: pointer;
    width: fit-content;
    &.active {
      color: #fff;
      background-color: #e50e78;
    }
    &--icon {
      width: 2.4rem;
      height: 2.4rem;
      img {
        width: 100%;
        height: 100%;
      }
    }
    &--text {
      font-size: 1.6rem;
      font-weight: 500;
      line-height: 1.1;
    }
  }
}

.card {
  position: relative;
  width: 37.5rem;
  height: 42.2rem;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  // background-color: #fff;
  &-back {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    &--mob {
      display: none;
      z-index: -1;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &-discont,
  &-title,
  &-info,
  &-price {
    z-index: 1;
  }
  &-title {
    margin-top: 2rem;
    overflow: hidden;
    color: #3b3c40;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.2;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &-price {
    width: 100%;
    margin-top: 2.5rem;
    display: flex;
    align-items: end;
    gap: 1rem;
    &--current {
      color: #3b3c40;
      font-size: 2.4rem;
      font-weight: 600;
      line-height: normal;
    }
    &--old {
      color: #9293b0;
      /* text 18 medium */
      font-size: 1.8rem;
      font-weight: 500;
      line-height: 1.3;
      text-decoration: line-through;
    }
  }
  &-discont {
    position: absolute;
    top: 4rem;
    left: 4rem;
    padding: 0.6rem 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1.5rem;
    background: #e50e78;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.4;
  }
  &-info {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    gap: 1rem;
    justify-content: start;
    overflow: hidden;
    color: var(--dark-grey, #9293b0);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.4;
  }

  &-btn {
    position: absolute;
    z-index: 2;
    bottom: 0;
    right: 0;
  }

  &-img {
    position: relative;
    width: 32.5rem;
    height: 21.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3rem;
    border: 2px solid #f4f6f8;
    background: #fff;
    z-index: 1;
    img {
      width: 10.5rem;
      height: 12.4rem;
    }
  }
}
.cards__slider {
  overflow: hidden;
  filter: drop-shadow(5px 10px 20px rgba(173, 178, 201, 0.35));
  padding-right: 1rem;
  margin-right: -1rem;
}
.advertisement {
  &__card {
    position: relative;
    padding: 6.3rem 13rem;
    height: 47.6rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  &__content {
    position: relative;
    width: 63.1rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 3rem;
    &-title {
      color: #3b3c40;
      font-size: 7rem;
      font-weight: 500;
      line-height: 1.06;
    }
    &-text {
      color: #9293b0;
      font-size: 2rem;
      font-weight: 500;
      line-height: 1.2;
    }
  }
  &__img {
    display: flex;
    position: relative;
    width: 58.5rem;
    height: 35.3rem;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
    }
  }
}
.nav-prev,
.nav-next {
  position: absolute;
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #fff;
  z-index: 2;
  filter: drop-shadow(3px 6px 14px rgba(115, 103, 151, 0.15));
  cursor: pointer;
}
.nav-prev {
  top: 40%;
  left: 0;
}
.nav-next {
  top: 40%;
  right: 0;
}
.section__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6rem;
}

// ::-webkit-scrollbar {
//   height: 0.8rem; /* Высота полосы прокрутки */
//   width: 0.8rem;
//   border-radius: 2px;
// }

// ::-webkit-scrollbar-track {
//   background: #f1f1f1; /* Цвет фона полосы прокрутки */
//   border-radius: 2px;
//   width: 0.8rem;
// }

// ::-webkit-scrollbar-thumb {
//   background: #4067f0; /* Цвет полосы прокрутки */
//   border-radius: 2px;
//   width: 0.8rem;
// }

// ::-webkit-scrollbar-thumb:hover {
//   background: #555; /* Цвет полосы прокрутки при наведении */
// }

.bc {
  margin-bottom: 4.2rem;
  a {
    color: #9293b0;
    padding-right: 2.4rem;
    position: relative;
    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 1.4rem;
      height: 1px;
      border-radius: 1px;
      opacity: 0.7;
      background: #9293b0;
      right: 0.5rem;
      top: 50%;
    }
  }
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}
.switcher .switcher__container .switcher__content {
  display: none;
}
.switcher .switcher__container .switcher__content.active {
  display: block;
}
.pagination {
  display: flex;
  align-items: center;
  gap: 3.2rem;
  text-align: center;
  color: #3b3c40;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  margin: 0 auto;
  width: fit-content;

  &-left {
    width: 2rem;
    height: 2rem;
    svg {
      width: 2rem;
      height: 2rem;
    }
  }
  &-right {
    width: 2rem;
    height: 2rem;
    svg {
      width: 2rem;
      height: 2rem;
    }
  }
  &-numbers {
    display: flex;
    gap: 3.5rem;
    align-items: center;

    a.active {
      width: 4rem;
      height: 4rem;
      margin-right: -1.5rem;
      background: #f4f6f8;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
.label-checkbox {
  display: flex;
  cursor: pointer;

  input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  .custom-checkbox {
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 5px;
    background: #fff;
    border: 1px solid #9293b0;
    position: relative;
    flex: none;

    &::after {
      content: "";
      display: none;
      position: absolute;
      background: url(../assets/images/icon/checkbox-checked.svg) no-repeat;
      width: 1.1rem;
      height: 0.8rem;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-size: contain;
    }
  }
  input:checked ~ .custom-checkbox {
    background-color: #e50e78;
  }
  input:checked ~ .custom-checkbox::after {
    display: block;
  }
  input:disabled ~ .custom-checkbox {
    background: #f4f6f8;
    border: 1px solid #dfdff0;
  }
  p {
    color: #3b3c40;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
  }
}
.label-radio {
  display: flex;
  cursor: pointer;

  input[type="radio"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  .custom-radio {
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 50%;
    background: #fff;
    border: 1px solid #9293b0;
    position: relative;
    flex: none;

    &::after {
      content: "";
      display: none;
      position: absolute;
      background: #e50e78;
      border-radius: 50%;
      width: 1.4rem;
      height: 1.4rem;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  input:checked ~ .custom-radio {
    border: 1px solid #e50e78;
  }
  input:checked ~ .custom-radio::after {
    display: block;
  }
  input:disabled ~ .custom-radio {
    background: #f4f6f8;
    border: 1px solid #dfdff0;
  }
  p {
    color: #3b3c40;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
  }
}

.search-box {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 6rem;
  border-radius: 1.5rem;
  border: 1px solid #e50e78;

  input {
    padding: 0.5rem 2.5rem;
    height: 100%;
    width: 94%;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
  }
  &-icon {
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    background: #e50e78;
    cursor: pointer;

    img {
      width: 2.4rem;
      height: 2.4rem;
    }
  }
}

@media (max-width: 48em) {
  .no-scroll {
    overflow: hidden;
  }
  .title {
    color: #3b3c40;
    /* Mob/h1 32 medium */
    font-size: 6.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
  }
  .title-h2 {
    font-size: 6.4rem;
    line-height: 110%;

    span {
      font-size: 2.4rem;
      line-height: 140%;
      margin-left: 2rem;
    }
  }
  .title-h3 {
    font-size: 4rem;

    span {
      font-size: 2.4rem;
      line-height: 140%;
      margin-left: 2rem;
    }
  }
  .btn {
    font-size: 2.8rem;
    height: 12rem;
  }
  .nav-next,
  .nav-prev {
    display: none;
  }

  .bc {
    margin-bottom: 6rem;
    .container {
      display: flex;
      overflow: auto;
      padding-bottom: 3rem;
      margin-bottom: -3rem;
    }
    a {
      padding-right: 4.8rem;
      flex: none;

      &::after {
        content: "";
        display: block;
        position: absolute;
        width: 3.6rem;
        height: 1px;
        right: 0.5rem;
        top: 50%;
      }
    }
    span {
      flex: none;
    }
    font-size: 2.8rem;
    line-height: 130%;
  }
  .pagination {
    gap: 4rem;
    font-size: 2.4rem;

    &-left {
      width: 3rem;
      height: 3rem;
      svg {
        width: 3rem;
        height: 3rem;
      }
    }
    &-right {
      width: 3rem;
      height: 3rem;
      svg {
        width: 3rem;
        height: 3rem;
      }
    }
    &-numbers {
      gap: 6rem;

      a.active {
        width: 6rem;
        height: 6rem;
        margin-right: -2.4rem;
        border-radius: 7px;
      }
    }
  }

  .label-checkbox {
    .custom-checkbox {
      width: 4.8rem;
      height: 4.8rem;

      &::after {
        width: 2.2rem;
        height: 1.6rem;
      }
    }

    p {
      font-size: 2.8rem;
      line-height: 130%;
    }
  }
  .label-radio {
    .custom-radio {
      width: 4.8rem;
      height: 4.8rem;

      &::after {
        width: 2.8rem;
        height: 2.8rem;
      }
    }
    p {
      font-size: 2.8rem;
      line-height: 130%;
    }
  }

  .search-box {
    height: 8.4rem;
    border-radius: 2rem;

    input {
      font-size: 2.8rem;
      width: 89%;
    }
    &-icon {
      position: relative;
      width: 7.2rem;
      height: 7.2rem;
      border-radius: 1.6rem;

      img {
        width: 4rem;
        height: 4rem;
      }
    }
  }
}
@media (max-width: 48em) {
  .card {
    padding: 2rem;
    width: 34.6rem;
    height: 52.4rem;
    &-back {
      display: none;
      &--mob {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        svg {
          width: 100%;
          height: 100%;
        }
      }
    }
    &-discont {
      padding: 0.2rem 1.6rem;
      font-size: 2.4rem;
    }
    &-img {
      width: 30.6rem;
      height: 26rem;
      img {
        width: 14.8rem;
        height: 17.2rem;
      }
    }
    &-title {
      width: 100%;
      height: 7.2rem;
      font-size: 2.8rem;
    }
    &-info {
      font-size: 2.4rem;
      overflow: initial;
    }
    &-btn {
      width: 8rem;
      height: 8rem;
      img {
        width: 4rem;
        height: 4rem;
      }
    }
    &-price {
      margin-top: 0;
      padding-top: 1.6rem;
      flex-direction: column;
      align-items: start;
      &--current {
        font-size: 3.6rem;
      }
      &--old {
        font-size: 2.8rem;
      }
    }
  }
  .categories {
    width: 100%;
    &-link {
      width: fit-content;
      gap: 1rem;
      align-items: center;
      padding: 1.6rem 2.4rem;
      line-height: 1;
      height: 7.4rem;
    }
    &-text {
      font-size: 3rem;
    }
    &-icon {
      width: 4rem;
      height: 4rem;
    }
  }
  .btn-categories-link {
    display: none;
    &--mob {
      margin: 0 auto;
      margin-top: 6rem;
      padding: 0.5rem 0.5rem 0.5rem 3rem;
      border-radius: 1.5rem;
      display: flex;
      gap: 2.5rem;
      width: fit-content;
      height: 8.4rem;
      // padding: 3px 3px 3px 20px;
      align-items: center;
      justify-content: end;
      background: linear-gradient(139deg, #dd3197 0%, #822faf 100%);
      color: #fff;
      font-size: 3rem;
    }
    &--icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 7.2rem;
      height: 7.2rem;

      border-radius: 1rem;
      background: #fff;
      z-index: 1;
      svg {
        width: 4rem;
        height: 4rem;
        path {
        }
      }
      img {
        width: 4rem;
        height: 4rem;
      }
    }
  }
  .btn {
    padding: 0.5rem 0.5rem 0.5rem 3rem;
    border-radius: 1.5rem;
    display: flex;
    gap: 2.5rem;
    width: fit-content;
    height: 8.4rem;
    // padding: 3px 3px 3px 20px;
    align-items: center;
    justify-content: end;
    background: linear-gradient(139deg, #dd3197 0%, #822faf 100%);
    color: #fff;
    font-size: 3rem;

    &.mobile {
      display: flex;
    }

    &--icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 7.2rem;
      height: 7.2rem;

      border-radius: 8px;
      background: #fff;
      z-index: 1;
      svg {
        width: 4rem;
        height: 4rem;
      }
      img {
        width: 4rem;
        height: 4rem;
      }
    }
  }
  .btn-reverse {
    padding: 0.5rem 0.5rem 0.5rem 3rem;
    display: flex;
    gap: 5rem;
    width: fit-content;
    height: 8.4rem;
    align-items: center;
    justify-content: end;
    background: #fff;
    font-size: 3rem;
    box-shadow: 10px 15px 50px 0px rgba(173, 178, 201, 0.2);
    border: 1.5px solid #dd3197; /* !importanté */
    border-radius: 2rem;
    position: relative;

    &--icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 7.2rem;
      height: 7.2rem;
      border-radius: 8px;
      z-index: 1;
      background: linear-gradient(139deg, #dd3197 0%, #822faf 100%);
      svg {
        width: 4rem;
        height: 4rem;
      }
      img {
        width: 4rem;
        height: 4rem;
      }
    }
  }
  .btn-color {
    padding: 2.2rem 4rem;
    height: 8.4rem;
    display: block;
    width: fit-content;
    background: linear-gradient(96deg, #dd3197 0%, #822faf 101.4%);
    font-size: 3rem;
    border-radius: 10px;
  }
  .btn-empty {
    padding: 2.2rem 4rem;
    height: 8.4rem;
    display: block;
    width: fit-content;
    background: #fff;
    font-size: 3rem;
    box-shadow: 10px 15px 50px 0px rgba(173, 178, 201, 0.2);
    border-radius: 10px;

    // &:before {
    //   content: '';
    //   position: absolute;
    //   top: 0; right: 0; bottom: 0; left: 0;
    //   z-index: -1;
    //   margin: -$border; /* !importanté */
    //   border-radius: inherit; /* !importanté */
    //   background: linear-gradient(139deg, #DD3197 0%, #822FAF 100%);
    // }

    &--text {
      background: linear-gradient(139deg, #dd3197 0%, #822faf 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

@import "set";

@import "header";
@import "footer";
@import "form";
@import "modal";

@import "page-home";
@import "registration";
@import "promotion";
@import "brands";
@import "selection-by-parameters";
@import "catalog";
@import "repair";
@import "product";
@import "basket";
@import "lk";

.mobile {
  display: none;
}
@media (max-width: 48em) {
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
}
